In [2]:
import pandas as pd
import json
import os
import sqlite3

In [3]:
#header
path = 'https://github.com/sizipusx/fundamental/blob/50f1e60bc474b8411e822e080718f1e5b4de19e2/files/header.xlsx?raw=true'
header_excel = pd.ExcelFile(path)

# Create a connection to the SQLite database
conn = sqlite3.connect('C://Users/user/fundamental/files/weekly_house.db')

## KB 주간

In [4]:
# 연결 1
file_path = "C://Users/user/OneDriveData/개인/data/부동산 기본 파일/20240101_주간시계열.xlsx"
kbm_dict = pd.ExcelFile(file_path)
mdf = kbm_dict.parse("3.매매지수", skiprows=1, index_col=0, parse_dates=True)
jdf = kbm_dict.parse("4.전세지수", skiprows=1, index_col=0, parse_dates=True)
jdf

,전국,서울특별시,강북14개구,강북구,광진구,노원구,도봉구,동대문구,마포구,서대문구,...,의창구,진해구,양산시,거제시,진주시,김해시,통영시,제주도,제주특별자치도,기타지방
구분,,,,,,,,,,,,,,,,,,,,,
Classification,Total,Seoul,Northern seoul,Gangbuk-gu,Gwangjin-gu,Nowon-gu,Dobong-gu,Dongdaemun-gu,Mapo-gu,Seodaemun-gu,...,Uichang-gu,Jinhae-gu,Yangsan,Geoje,Jinju,Gimhae,Tongyeong,Jeju-do,Jeju/\nSeogwipo,Non-Metropolitan Area
2008-04-07 00:00:00,50.626127,45.717886,46.865102,44.498471,44.762236,45.865112,48.900573,48.849289,40.391221,54.749906,...,NaN,58.093245,49.560838,66.779067,83.528927,49.067388,NaN,NaN,52.88673,58.655763
2008-04-14 00:00:00,50.665963,45.752126,46.916511,44.587962,44.735281,45.930562,49.014186,48.916026,40.391221,54.760537,...,NaN,58.093245,49.5478,67.000851,83.449355,49.19213,NaN,NaN,52.888448,58.692056
2008-04-21 00:00:00,50.692096,45.773414,46.947622,44.684963,44.741716,45.956724,49.026205,48.966786,40.389294,54.835773,...,NaN,58.093245,49.5478,67.331284,83.330201,49.24641,NaN,NaN,52.889303,58.718368
2008-04-28 00:00:00,50.724241,45.796596,46.96439,44.708317,44.771571,45.981169,49.020388,48.972139,40.407085,54.932462,...,NaN,57.989307,49.537591,67.650109,83.234121,49.269239,NaN,NaN,52.889303,58.752961
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-01-01 00:00:00,88.482127,86.612579,86.377528,87.325124,86.847876,85.276186,85.101659,83.715501,89.033403,90.62972,...,94.533898,104.156903,89.65514,92.796236,101.195901,90.171582,101.144514,NaN,96.227076,96.46201
『데이터허브』(data.kbland.kr)에서 KB부동산 통계를 편리하게 이용하세요,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
주택가격동향,NaN,https://data.kbland.kr/kbstats/wmh?tIdx=HT01&t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"2022년 11월 표본이 확대 개편됐습니다. 아파트: 시세조사가능한 전국 모든 단지의 면적(평형)(62,000여개)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
유의사항: 아파트통계 공표지역은 KB부동산시세가 있는 전국입니다. 데이터허브(data.kbland.kr)에서 확대된 지역까지 확인할 수 있습니다. (시계열 파일은 기존 공표지역만 확인 가능),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
mdf = mdf.iloc[2:mdf['전국'].count()]
mdf.index.name="날짜"
mdf.index = pd.to_datetime(mdf.index)
mdf = mdf.astype(float).fillna(0).round(decimals=3)
jdf = jdf.iloc[2:jdf['전국'].count()]
jdf.index.name="날짜"
jdf.index = pd.to_datetime(jdf.index)
jdf = jdf.astype(float).fillna(0).round(decimals=3)
jdf

,전국,서울특별시,강북14개구,강북구,광진구,노원구,도봉구,동대문구,마포구,서대문구,...,의창구,진해구,양산시,거제시,진주시,김해시,통영시,제주도,제주특별자치도,기타지방
날짜,,,,,,,,,,,,,,,,,,,,,
2008-04-14,50.666,45.752,46.917,44.588,44.735,45.931,49.014,48.916,40.391,54.761,...,0.000,58.093,49.548,67.001,83.449,49.192,0.000,0.0,52.888,58.692
2008-04-21,50.692,45.773,46.948,44.685,44.742,45.957,49.026,48.967,40.389,54.836,...,0.000,58.093,49.548,67.331,83.330,49.246,0.000,0.0,52.889,58.718
2008-04-28,50.724,45.797,46.964,44.708,44.772,45.981,49.020,48.972,40.407,54.932,...,0.000,57.989,49.538,67.650,83.234,49.269,0.000,0.0,52.889,58.753
2008-05-05,50.760,45.819,47.006,44.783,44.787,45.980,49.035,49.056,40.441,54.977,...,0.000,57.989,49.538,67.868,83.234,49.269,0.000,0.0,52.889,58.788
2008-05-12,50.782,45.838,47.022,44.794,44.792,45.956,49.035,49.163,40.506,54.987,...,0.000,57.989,49.538,68.094,82.940,49.340,0.000,0.0,52.993,58.830
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-04,88.378,86.255,86.076,86.634,86.614,85.348,85.145,83.336,88.446,89.833,...,94.754,103.947,89.888,93.153,100.603,90.400,101.128,0.0,96.071,96.455
2023-12-11,88.409,86.378,86.185,86.740,86.657,85.319,85.126,83.517,88.813,90.103,...,94.664,104.031,89.705,93.064,100.699,90.303,101.128,0.0,96.070,96.453
2023-12-18,88.440,86.483,86.266,86.818,86.810,85.293,85.110,83.594,88.858,90.389,...,94.621,104.094,89.714,92.920,100.737,90.205,101.145,0.0,96.114,96.450
2023-12-25,88.470,86.566,86.332,87.066,86.848,85.274,85.070,83.678,88.982,90.515,...,94.530,104.157,89.666,92.846,100.956,90.173,101.145,0.0,96.264,96.460
2024-01-01,88.482,86.613,86.378,87.325,86.848,85.276,85.102,83.716,89.033,90.630,...,94.534,104.157,89.655,92.796,101.196,90.172,101.145,0.0,96.227,96.462

In [6]:
header = header_excel.parse('KB')
header

Empty DataFrame
Columns: [전국, 서울, 서울 강북권역, 서울 강북구, 서울 광진구, 서울 노원구, 서울 도봉구, 서울 동대문구, 서울 마포구, 서울 서대문구, 서울 성동구, 서울 성북구, 서울 용산구, 서울 은평구, 서울 종로구, 서울 중구, 서울 중랑구, 서울 강남권역, 서울 강남구, 서울 강동구, 서울 강서구, 서울 관악구, 서울 구로구, 서울 금천구, 서울 동작구, 서울 서초구, 서울 송파구, 서울 양천구, 서울 영등포구, 6대광역시, 부산, 부산 중구, 부산 서구, 부산 동구, 부산 영도구, 부산 부산진구, 부산 동래구, 부산 남구, 부산 북구, 부산 해운대구, 부산 사하구, 부산 금정구, 부산 연제구, 부산 수영구, 부산 사상구, 부산 기장군, 부산 강서구, 대구, 대구 중구, 대구 동구, 대구 서구, 대구 남구, 대구 북구, 대구 수성구, 대구 달서구, 대구 달성군, 인천, 인천 중구, 인천 동구, 인천 미추홀구, 인천 연수구, 인천 남동구, 인천 부평구, 인천 계양구, 인천 서구, 광주, 광주 동구, 광주 서구, 광주 남구, 광주 북구, 광주 광산구, 대전, 대전 동구, 대전 중구, 대전 서구, 대전 유성구, 대전 대덕구, 울산, 울산 중구, 울산 남구, 울산 동구, 울산 북구, 울산 울주군, 5대광역시, 수도권, 세종, 경기, 수원, 수원 장안구, 수원 권선구, 수원 팔달구, 수원 영통구, 성남, 성남 수정구, 성남 중원구, 성남 분당구, 고양, 고양 덕양구, 고양 일산동구, 고양 일산서구, ...]
Index: []

[0 rows x 189 columns]

In [7]:
mdf.columns = header.columns
jdf.columns = header.columns
mlast_row = mdf.tail(1)
jlast_row = jdf.tail(1)
mlast_row

,전국,서울,서울 강북권역,서울 강북구,서울 광진구,서울 노원구,서울 도봉구,서울 동대문구,서울 마포구,서울 서대문구,...,창원 의창구,창원 진해구,양산,거제,진주,김해,통영,제주도,제주,지방
날짜,,,,,,,,,,,,,,,,,,,,,
2024-01-01,90.008,90.635,88.381,88.38,94.154,84.067,82.755,87.035,93.214,89.119,...,96.048,99.526,94.867,90.974,100.993,91.523,99.918,0.0,98.593,96.351

In [11]:
# mlast_row.to_sql("kbm", conn, if_exists="append")
# jlast_row.to_sql("kbj", conn, if_exists="append")
#2024-01-01 부천시 3개구 분할 추가
mdf.to_sql("kbm", conn, if_exists="replace")
jdf.to_sql("kbj", conn, if_exists="replace")

792

In [12]:
mt = pd.read_sql("SELECT * FROM kbm", conn, index_col='날짜', parse_dates={'날짜', "%Y-%m-%d"}) 
jt = pd.read_sql("SELECT * FROM kbj", conn, index_col='날짜', parse_dates={'날짜', "%Y-%m-%d"}) 
jt

,전국,서울,서울 강북권역,서울 강북구,서울 광진구,서울 노원구,서울 도봉구,서울 동대문구,서울 마포구,서울 서대문구,...,창원 의창구,창원 진해구,양산,거제,진주,김해,통영,제주도,제주,지방
날짜,,,,,,,,,,,,,,,,,,,,,
2008-04-14,50.666,45.752,46.917,44.588,44.735,45.931,49.014,48.916,40.391,54.761,...,0.000,58.093,49.548,67.001,83.449,49.192,0.000,0.0,52.888,58.692
2008-04-21,50.692,45.773,46.948,44.685,44.742,45.957,49.026,48.967,40.389,54.836,...,0.000,58.093,49.548,67.331,83.330,49.246,0.000,0.0,52.889,58.718
2008-04-28,50.724,45.797,46.964,44.708,44.772,45.981,49.020,48.972,40.407,54.932,...,0.000,57.989,49.538,67.650,83.234,49.269,0.000,0.0,52.889,58.753
2008-05-05,50.760,45.819,47.006,44.783,44.787,45.980,49.035,49.056,40.441,54.977,...,0.000,57.989,49.538,67.868,83.234,49.269,0.000,0.0,52.889,58.788
2008-05-12,50.782,45.838,47.022,44.794,44.792,45.956,49.035,49.163,40.506,54.987,...,0.000,57.989,49.538,68.094,82.940,49.340,0.000,0.0,52.993,58.830
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-04,88.378,86.255,86.076,86.634,86.614,85.348,85.145,83.336,88.446,89.833,...,94.754,103.947,89.888,93.153,100.603,90.400,101.128,0.0,96.071,96.455
2023-12-11,88.409,86.378,86.185,86.740,86.657,85.319,85.126,83.517,88.813,90.103,...,94.664,104.031,89.705,93.064,100.699,90.303,101.128,0.0,96.070,96.453
2023-12-18,88.440,86.483,86.266,86.818,86.810,85.293,85.110,83.594,88.858,90.389,...,94.621,104.094,89.714,92.920,100.737,90.205,101.145,0.0,96.114,96.450
2023-12-25,88.470,86.566,86.332,87.066,86.848,85.274,85.070,83.678,88.982,90.515,...,94.530,104.157,89.666,92.846,100.956,90.173,101.145,0.0,96.264,96.460
2024-01-01,88.482,86.613,86.378,87.325,86.848,85.276,85.102,83.716,89.033,90.630,...,94.534,104.157,89.655,92.796,101.196,90.172,101.145,0.0,96.227,96.462

In [13]:
# 매수우위지수와 전세수급 지수
# 둘다 replace

In [8]:
ms = kbm_dict.parse("7.매수매도", skiprows=1, index_col=0, parse_dates=True)
ms.index.name="날짜"
js = kbm_dict.parse("9.전세수급", skiprows=1, index_col=0, parse_dates=True)
js.index.name="날짜"

In [9]:
#컬럼명 바꿈
m1 = ms.columns.map(lambda x: x.split(' ')[0])

new_s1 = []
for num, gu_data in enumerate(m1):
    check = num
    if gu_data.startswith('Un'):
        new_s1.append(new_s1[check-1])
    else:
        new_s1.append(m1[check])

#컬럼 설정
ms.columns = [new_s1,ms.iloc[0]]
js.columns = [new_s1,js.iloc[0]]
js

                                                                                                   전국  \
nan                                                                                             수요>공급
날짜
NaN                                                                                             수요>공급
NaN                                                                                   Demand > Supply
2003-07-01 00:00:00                                                                         33.226731
2003-07-08 00:00:00                                                                         35.671486
2003-07-15 00:00:00                                                                         36.507812
...                                                                                               ...
NaN                                                    - 전세수급지수는 0~200 범위 이내이며 지수가 100을 초과할수록 '공급부...
『데이터허브』(data.kbland.kr)에서 KB부동산 통계를 편리하게 이용하세요                                                    NaN
주택가격동향                                                                                            NaN
2022년 11월 표본이 확대 개편됐습니다. 아파트: 시세조사가능한 전국 모든 단지의...                                                NaN
유의사항: 아파트통계 공표지역은 KB부동산시세가 있는 전국입니다. 데이터허브(data...                                                NaN

                                                                                                       \
nan                                                                                             수요<공급
날짜
NaN                                                                                             수요<공급
NaN                                                                                   Demand < Supply
2003-07-01 00:00:00                                                                         32.669108
2003-07-08 00:00:00                                                                         34.458584
2003-07-15 00:00:00                                                                          34.48941
...                                                                                               ...
NaN                                                                                               NaN
『데이터허브』(data.kbland.kr)에서 KB부동산 통계를 편리하게 이용하세요                                                    NaN
주택가격동향                                              https://data.kbland.kr/kbstats/wmh?tIdx=HT01&t...
2022년 11월 표본이 확대 개편됐습니다. 아파트: 시세조사가능한 전국 모든 단지의...                                                NaN
유의사항: 아파트통계 공표지역은 KB부동산시세가 있는 전국입니다. 데이터허브(data...                                                NaN

                                                                                   \
nan                                                                        전세수급지수
날짜
NaN                                                                        전세수급지수
NaN                                                 Jeonse Demend & Supplly Index
2003-07-01 00:00:00                                                    100.557622
2003-07-08 00:00:00                                                    101.212902
2003-07-15 00:00:00                                                    102.018403
...                                                                           ...
NaN                                                                           NaN
『데이터허브』(data.kbland.kr)에서 KB부동산 통계를 편리하게 이용하세요                                NaN
주택가격동향                                                                        NaN
2022년 11월 표본이 확대 개편됐습니다. 아파트: 시세조사가능한 전국 모든 단지의...                            NaN
유의사항: 아파트통계 공표지역은 KB부동산시세가 있는 전국입니다. 데이터허브(data...                            NaN

                                                              서울특별시  \
nan                                                           수요>공급
날짜
NaN                                                           수요>공급
NaN                                                 Demand > Supply
2003-07-01 00:00:00                                            17.7
2003-07-08 00:00:00                                            20.6
2003-07-15 00:00:00                                            18.9
...                                                             ...
NaN                                                             NaN
『데이터허브』(data.kbland.kr)에서 KB부동산 통계를 편리하게 이용하세요                  NaN
주택가격동향                                                          NaN
2022년 11월 표본이 확대 개편됐습니다. 아파트: 시세조사가능한 전국 모든 단지의...              NaN
유의사항: 아파트통계 공표지역은 KB부동산시세가 있는 전국입니다. 데이터허브(data...              NaN

                                                                     \
nan                                                           수요<공급
날짜
NaN                                                           수요<공급
NaN                                                 Demand < Supply
2003-07-01 00:00:00                                            41.1
2003-07-08 00:00:00                                            49.4
2003-07-15 00:00:00                                            43.4
...                                                             ...
NaN                                                             NaN
『데이터허브』(data.kbland.kr)에서 KB부동산 통계를 편리하게 이용하세요                  NaN
주택가격동향                                                          NaN
2022년 11월 표본이 확대 개편됐습니다. 아파트: 시세조사가능한 전국 모든 단지의...              NaN
유의사항: 아파트통계 공표지역은 KB부동산시세가 있는 전국입니다. 데이터허브(data...              NaN

                                                                                   \
nan                                                                        전세수급지수
날짜
NaN                                                                        전세수급지수
NaN                                                 Jeonse Demend & Supplly Index
2003-07-01 00:00:00                                                          76.6
2003-07-08 00:00:00                                                          71.2
2003-07-15 00:00:00                                                          75.5
...                                                                           ...
NaN                                                                           NaN
『데이터허브』(data.kbland.kr)에서 KB부동산 통계를 편리하게 이용하세요                                NaN
주택가격동향                                                                        NaN
2022년 11월 표본이 확대 개편됐습니다. 아파트: 시세조사가능한 전국 모든 단지의...                            NaN
유의사항: 아파트통계 공표지역은 KB부동산시세가 있는 전국입니다. 데이터허브(data...                            NaN

                                                             강북14개구  \
nan                                                           수요>공급
날짜
NaN                                                           수요>공급
NaN                                                 Demand > Supply
2003-07-01 00:00:00                                             NaN
2003-07-08 00:00:00                                             NaN
2003-07-15 00:00:00                                             NaN
...                                                             ...
NaN                                                             NaN
『데이터허브』(data.kbland.kr)에서 KB부동산 통계를 편리하게 이용하세요                  NaN
주택가격동향                                                          NaN
2022년 11월 표본이 확대 개편됐습니다. 아파트: 시세조사가능한 전국 모든 단지의...              NaN
유의사항: 아파트통계 공표지역은 KB부동산시세가 있는 전국입니다. 데이터허브(data...              NaN

                                                                     \
nan                                                           수요<공급
날짜
NaN                                                           수요<공급
NaN                                                 Demand < Supply
2003-07-01 00:00:00                                             NaN
2003-07-08 00:00:00                                             NaN
2003-07-15 00:00:00                                             NaN
...                                                             ...
NaN                                                             NaN
『데이터허브』(data.kbland.kr)에서 KB부동산 통계를 편리하게 이용하세요                  NaN
주택가격동향                                                          NaN
2022년 11월 표본이 확대 개편됐습니다. 아파트: 시세조사가능한 전국 모든 단지의...              NaN
유의사항: 아파트통계 공표지역은 KB부동산시세가 있는 전국입니다. 데이터허브(data...              NaN

                                                                                   \
nan                                                                        전세수급지수
날짜
NaN                                                                        전세수급지수
NaN                                                 Jeonse Demend & Supplly Index
2003-07-01 00:00:00                                                           NaN
2003-07-08 00:00:00                                                           NaN
2003-07-15 00:00:00                                                           NaN
...                                                                           ...
NaN                                                                           NaN
『데이터허브』(data.kbland.kr)에서 KB부동산 통계를 편리하게 이용하세요                                NaN
주택가격동향                                                                        NaN
2022년 11월 표본이 확대 개편됐습니다. 아파트: 시세조사가능한 전국 모든 단지의...                            NaN
유의사항: 아파트통계 공표지역은 KB부동산시세가 있는 전국입니다. 데이터허브(data...                            NaN

                                                             강남11개구  ...  \
nan                                                           수요>공급  ...
날짜                                                                   ...
NaN                                                           수요>공급  ...
NaN                                                 Demand > Supply  ...
2003-07-01 00:00:00                                             NaN  ...
2003-07-08 00:00:00                                             NaN  ...
2003-07-15 00:00:00                                             NaN  ...
...                                                             ...  ...
NaN                                                             NaN  ...
『데이터허브』(data.kbland.kr)에서 KB부동산 통계를 편리하게 이용하세요                  NaN  ...
주택가격동향                                                          NaN  ...
2022년 11월 표본이 확대 개편됐습니다. 아파트: 시세조사가능한 전국 모든 단지의...              NaN  ...
유의사항: 아파트통계 공표지역은 KB부동산시세가 있는 전국입니다. 데이터허브(data...              NaN  ...

                                                                             경상북도  \
nan                                                                        전세수급지수
날짜
NaN                                                                        전세수급지수
NaN                                                 Jeonse Demend & Supplly Index
2003-07-01 00:00:00                                                           NaN
2003-07-08 00:00:00                                                           NaN
2003-07-15 00:00:00                                                           NaN
...                                                                           ...
NaN                                                                           NaN
『데이터허브』(data.kbland.kr)에서 KB부동산 통계를 편리하게 이용하세요                                NaN
주택가격동향                                                                        NaN
2022년 11월 표본이 확대 개편됐습니다. 아파트: 시세조사가능한 전국 모든 단지의...                            NaN
유의사항: 아파트통계 공표지역은 KB부동산시세가 있는 전국입니다. 데이터허브(data...                            NaN

                                                               경상남도  \
nan                                                           수요>공급
날짜
NaN                                                           수요>공급
NaN                                                 Demand > Supply
2003-07-01 00:00:00                                             NaN
2003-07-08 00:00:00                                             NaN
2003-07-15 00:00:00                                             NaN
...                                                             ...
NaN                                                             NaN
『데이터허브』(data.kbland.kr)에서 KB부동산 통계를 편리하게 이용하세요                  NaN
주택가격동향                                                          NaN
2022년 11월 표본이 확대 개편됐습니다. 아파트: 시세조사가능한 전국 모든 단지의...              NaN
유의사항: 아파트통계 공표지역은 KB부동산시세가 있는 전국입니다. 데이터허브(data...              NaN

                                                                     \
nan                                                           수요<공급
날짜
NaN                                                           수요<공급
NaN                                                 Demand < Supply
2003-07-01 00:00:00                                             NaN
2003-07-08 00:00:00                                             NaN
2003-07-15 00:00:00                                             NaN
...                                                             ...
NaN                                                             NaN
『데이터허브』(data.kbland.kr)에서 KB부동산 통계를 편리하게 이용하세요                  NaN
주택가격동향                                                          NaN
2022년 11월 표본이 확대 개편됐습니다. 아파트: 시세조사가능한 전국 모든 단지의...              NaN
유의사항: 아파트통계 공표지역은 KB부동산시세가 있는 전국입니다. 데이터허브(data...              NaN

                                                                                   \
nan                                                                        전세수급지수
날짜
NaN                                                                        전세수급지수
NaN                                                 Jeonse Demend & Supplly Index
2003-07-01 00:00:00                                                           NaN
2003-07-08 00:00:00                                                           NaN
2003-07-15 00:00:00                                                           NaN
...                                                                           ...
NaN                                                                           NaN
『데이터허브』(data.kbland.kr)에서 KB부동산 통계를 편리하게 이용하세요                                NaN
주택가격동향                                                                        NaN
2022년 11월 표본이 확대 개편됐습니다. 아파트: 시세조사가능한 전국 모든 단지의...                            NaN
유의사항: 아파트통계 공표지역은 KB부동산시세가 있는 전국입니다. 데이터허브(data...                            NaN

                                                               기타지방  \
nan                                                           수요>공급
날짜
NaN                                                           수요>공급
NaN                                                 Demand > Supply
2003-07-01 00:00:00                                            67.9
2003-07-08 00:00:00                                            65.4
2003-07-15 00:00:00                                            65.8
...                                                             ...
NaN                                                             NaN
『데이터허브』(data.kbland.kr)에서 KB부동산 통계를 편리하게 이용하세요                  NaN
주택가격동향                                                          NaN
2022년 11월 표본이 확대 개편됐습니다. 아파트: 시세조사가능한 전국 모든 단지의...              NaN
유의사항: 아파트통계 공표지역은 KB부동산시세가 있는 전국입니다. 데이터허브(data...              NaN

                                                                     \
nan                                                           수요<공급
날짜
NaN                                                           수요<공급
NaN                                                 Demand < Supply
2003-07-01 00:00:00                                            12.4
2003-07-08 00:00:00                                             4.9
2003-07-15 00:00:00                                              11
...                                                             ...
NaN                                                             NaN
『데이터허브』(data.kbland.kr)에서 KB부동산 통계를 편리하게 이용하세요                  NaN
주택가격동향                                                          NaN
2022년 11월 표본이 확대 개편됐습니다. 아파트: 시세조사가능한 전국 모든 단지의...              NaN
유의사항: 아파트통계 공표지역은 KB부동산시세가 있는 전국입니다. 데이터허브(data...              NaN

                                                                                   \
nan                                                                        전세수급지수
날짜
NaN                                                                        전세수급지수
NaN                                                 Jeonse Demend & Supplly Index
2003-07-01 00:00:00                                                         155.5
2003-07-08 00:00:00                                                         160.5
2003-07-15 00:00:00                                                         154.8
...                                                                           ...
NaN                                                                           NaN
『데이터허브』(data.kbland.kr)에서 KB부동산 통계를 편리하게 이용하세요                                NaN
주택가격동향                                                                        NaN
2022년 11월 표본이 확대 개편됐습니다. 아파트: 시세조사가능한 전국 모든 단지의...                            NaN
유의사항: 아파트통계 공표지역은 KB부동산시세가 있는 전국입니다. 데이터허브(data...                            NaN

                                                            제주특별자치도  \
nan                                                           수요>공급
날짜
NaN                                                           수요>공급
NaN                                                 Demand > Supply
2003-07-01 00:00:00                                             NaN
2003-07-08 00:00:00                                             NaN
2003-07-15 00:00:00                                             NaN
...                                                             ...
NaN                                                             NaN
『데이터허브』(data.kbland.kr)에서 KB부동산 통계를 편리하게 이용하세요                  NaN
주택가격동향                                                          NaN
2022년 11월 표본이 확대 개편됐습니다. 아파트: 시세조사가능한 전국 모든 단지의...              NaN
유의사항: 아파트통계 공표지역은 KB부동산시세가 있는 전국입니다. 데이터허브(data...              NaN

                                                                     \
nan                                                           수요<공급
날짜
NaN                                                           수요<공급
NaN                                                 Demand < Supply
2003-07-01 00:00:00                                             NaN
2003-07-08 00:00:00                                             NaN
2003-07-15 00:00:00                                             NaN
...                                                             ...
NaN                                                             NaN
『데이터허브』(data.kbland.kr)에서 KB부동산 통계를 편리하게 이용하세요                  NaN
주택가격동향                                                          NaN
2022년 11월 표본이 확대 개편됐습니다. 아파트: 시세조사가능한 전국 모든 단지의...              NaN
유의사항: 아파트통계 공표지역은 KB부동산시세가 있는 전국입니다. 데이터허브(data...              NaN


nan                                                                        전세수급지수
날짜
NaN                                                                        전세수급지수
NaN                                                 Jeonse Demend & Supplly Index
2003-07-01 00:00:00                                                           NaN
2003-07-08 00:00:00                                                           NaN
2003-07-15 00:00:00                                                           NaN
...                                                                           ...
NaN                                                                           NaN
『데이터허브』(data.kbland.kr)에서 KB부동산 통계를 편리하게 이용하세요                                NaN
주택가격동향                                                                        NaN
2022년 11월 표본이 확대 개편됐습니다. 아파트: 시세조사가능한 전국 모든 단지의...                            NaN

In [10]:
ms_df = ms.iloc[2:ms[('전국', '매수우위지수')].count()]
ms_df.index = pd.to_datetime(ms_df.index)
ms_df = ms_df.astype(float).fillna(0).round(decimals=3)
js_df = js.iloc[2:js[('전국', '전세수급지수')].count()]
js_df.index = pd.to_datetime(js_df.index)
js_df = js_df.astype(float).fillna(0).round(decimals=3)
js_df

                전국                    서울특별시                   강북14개구          \
nan          수요>공급   수요<공급   전세수급지수   수요>공급   수요<공급   전세수급지수   수요>공급   수요<공급
날짜
2003-07-01  33.227  32.669  100.558  17.700  41.100   76.600   0.000   0.000
2003-07-08  35.671  34.459  101.213  20.600  49.400   71.200   0.000   0.000
2003-07-15  36.508  34.489  102.018  18.900  43.400   75.500   0.000   0.000
2003-07-22  38.400  30.300  108.100  21.700  41.100   80.600   0.000   0.000
2003-07-29  37.500  29.500  108.000  19.900  39.800   80.100   0.000   0.000
...            ...     ...      ...     ...     ...      ...     ...     ...
2023-12-04  30.420  25.284  105.137  33.891  19.589  114.302  36.758  20.044
2023-12-11  31.756  24.783  106.973  35.707  19.768  115.939  38.573  19.195
2023-12-18  31.263  24.900  106.364  33.871  19.451  114.419  36.430  19.222
2023-12-25  30.280  25.586  104.694  32.821  19.089  113.732  34.732  18.600
2024-01-01  29.838  24.413  105.426  31.425  18.164  113.261  33.740  19.338

                     강남11개구  ...     경상북도    경상남도                     기타지방  \
nan          전세수급지수   수요>공급  ...   전세수급지수   수요>공급   수요<공급   전세수급지수   수요>공급
날짜                           ...
2003-07-01    0.000   0.000  ...    0.000   0.000   0.000    0.000  67.900
2003-07-08    0.000   0.000  ...    0.000   0.000   0.000    0.000  65.400
2003-07-15    0.000   0.000  ...    0.000   0.000   0.000    0.000  65.800
2003-07-22    0.000   0.000  ...    0.000   0.000   0.000    0.000  67.100
2003-07-29    0.000   0.000  ...    0.000   0.000   0.000    0.000  68.300
...             ...     ...  ...      ...     ...     ...      ...     ...
2023-12-04  116.714  31.304  ...  122.835  40.525  27.578  112.947  43.546
2023-12-11  119.378  33.122  ...  125.293  40.466  24.497  115.969  46.950
2023-12-18  117.208  31.561  ...  120.901  42.706  22.878  119.828  45.527
2023-12-25  116.133  31.096  ...  125.815  40.055  30.808  109.247  44.641
2024-01-01  114.402  29.335  ...  128.956  39.146  21.333  117.813  41.842

                            제주특별자치도
nan          수요<공급   전세수급지수   수요>공급   수요<공급   전세수급지수
날짜
2003-07-01  12.400  155.500   0.000   0.000    0.000
2003-07-08   4.900  160.500   0.000   0.000    0.000
2003-07-15  11.000  154.800   0.000   0.000    0.000
2003-07-22   6.100  161.000   0.000   0.000    0.000
2003-07-29  12.200  156.100   0.000   0.000    0.000
...            ...      ...     ...     ...      ...
2023-12-04  19.366  124.180  47.012  11.952  135.060
2023-12-11  18.909  128.041  47.278  16.135  131.142
2023-12-18  18.803  126.725  36.671  15.561  121.110
2023-12-25  20.768  123.873  36.116  20.000  116.116
2024-01-01  21.026  120.816  40.270   9.634  130.636

[1035 rows x 72 columns]

In [16]:
ms_df.to_sql("kbs", conn, if_exists="replace")
msd = pd.read_sql("SELECT * FROM kbs", conn, index_col='날짜', parse_dates={'날짜', "%Y-%m-%d"}) 
js_df.to_sql("kbjs", conn, if_exists="replace")
jsd = pd.read_sql("SELECT * FROM kbjs", conn, index_col='날짜', parse_dates={'날짜', "%Y-%m-%d"}) 
jsd

,"('전국', '수요>공급')","('전국', '수요<공급')","('전국', '전세수급지수')","('서울특별시', '수요>공급')","('서울특별시', '수요<공급')","('서울특별시', '전세수급지수')","('강북14개구', '수요>공급')","('강북14개구', '수요<공급')","('강북14개구', '전세수급지수')","('강남11개구', '수요>공급')",...,"('경상북도', '전세수급지수')","('경상남도', '수요>공급')","('경상남도', '수요<공급')","('경상남도', '전세수급지수')","('기타지방', '수요>공급')","('기타지방', '수요<공급')","('기타지방', '전세수급지수')","('제주특별자치도', '수요>공급')","('제주특별자치도', '수요<공급')","('제주특별자치도', '전세수급지수')"
날짜,,,,,,,,,,,,,,,,,,,,,
2003-07-01,33.227,32.669,100.558,17.700,41.100,76.600,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,67.900,12.400,155.500,0.000,0.000,0.000
2003-07-08,35.671,34.459,101.213,20.600,49.400,71.200,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,65.400,4.900,160.500,0.000,0.000,0.000
2003-07-15,36.508,34.489,102.018,18.900,43.400,75.500,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,65.800,11.000,154.800,0.000,0.000,0.000
2003-07-22,38.400,30.300,108.100,21.700,41.100,80.600,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,67.100,6.100,161.000,0.000,0.000,0.000
2003-07-29,37.500,29.500,108.000,19.900,39.800,80.100,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,68.300,12.200,156.100,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-04,30.420,25.284,105.137,33.891,19.589,114.302,36.758,20.044,116.714,31.304,...,122.835,40.525,27.578,112.947,43.546,19.366,124.180,47.012,11.952,135.060
2023-12-11,31.756,24.783,106.973,35.707,19.768,115.939,38.573,19.195,119.378,33.122,...,125.293,40.466,24.497,115.969,46.950,18.909,128.041,47.278,16.135,131.142
2023-12-18,31.263,24.900,106.364,33.871,19.451,114.419,36.430,19.222,117.208,31.561,...,120.901,42.706,22.878,119.828,45.527,18.803,126.725,36.671,15.561,121.110
2023-12-25,30.280,25.586,104.694,32.821,19.089,113.732,34.732,18.600,116.133,31.096,...,125.815,40.055,30.808,109.247,44.641,20.768,123.873,36.116,20.000,116.116
2024-01-01,29.838,24.413,105.426,31.425,18.164,113.261,33.740,19.338,114.402,29.335,...,128.956,39.146,21.333,117.813,41.842,21.026,120.816,40.270,9.634,130.636

## 부동산원 주간

In [11]:
# 연결 1
file_path = "C://Users/user/OneDriveData/개인/data/부동산 기본 파일/24.1월 1주 주간아파트가격동향조사 시계열.xlsx"
one_dict = pd.ExcelFile(file_path)
omdf = one_dict.parse("매매지수", skiprows=1, index_col=0, parse_dates=True)
ojdf = one_dict.parse("전세지수", skiprows=1, index_col=0, parse_dates=True)
ojdf

,전국,수도권,지방,6대\n광역시,5대\n광역시,9개 도,8개 도,서울,강북권역,도심권,...,진주,통영,사천,김해,밀양,거제,양산,제주,제주.1,서귀포
지역 날짜,,,,,,,,,,,,,,,,,,,,,
NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaT,The Whole\n Country,Seoul Metropolitan Area,Non Seoul Metropolitan Area,6 Metropolitan Cities,5 Metropolitan Cities,9 Provinces,8 Provinces,Seoul,Northern \nseoul,Dosim-kwon,...,Jinju-si,Tongyeong-si,Sacheon-si,Gimhae-si,Milyang-si,Geoje-si,Yangsan-si,Jeju,Jeju-si,Seogwipo-si
NaT,1,2,3,4,5,6,7,8,9,10,...,226,227,228,229,230,231,232,233,234,235
2012-05-07,72.795699,66.087402,80.062328,70.552854,73.207792,76.50129,88.049898,67.498202,68.034437,70.676095,...,87.851547,107.871664,89.358039,111.319075,97.749841,149.043275,95.39303,80.125511,79.898481,80.106372
2012-05-14,72.820521,66.016971,80.203626,70.673114,73.347423,76.525276,88.193875,67.372228,67.853546,70.75626,...,87.851547,107.871664,89.358039,111.319075,97.749841,148.630806,95.39303,80.125511,79.898481,80.106372
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaT,NaN,주3) 2015년 7월 지역구분 변경으로 공표가 중단된 지역은 기준시점변경이 적용되...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaT,NaN,주4) '17년 10월 1주는 추석연휴로 인해 조사 미실시로 10월 2주차(10.9...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaT,NaN,주5) 2018년 7월 1일 인천 남구→미추홀구 명칭변경 반영,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaT,NaN,"주6) 2024년 1월 1일 부천시 행정구역 개편(원미, 소사, 오정구) 반영 및 ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaT,NaN,"주7) 2012년 5월 ~ 2016년 7월 부천시 3개구(원미구, 소사구, 오정구)...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
omdf = omdf.iloc[3:omdf['지방'].count()+1]
omdf.index.name="날짜"
omdf.index = pd.to_datetime(omdf.index)
omdf = omdf.astype(float).fillna(0).round(decimals=3)
ojdf = ojdf.iloc[3:ojdf['지방'].count()+1]
ojdf.index.name="날짜"
ojdf.index = pd.to_datetime(ojdf.index)
ojdf = ojdf.astype(float).fillna(0).round(decimals=3)
ojdf

,전국,수도권,지방,6대\n광역시,5대\n광역시,9개 도,8개 도,서울,강북권역,도심권,...,진주,통영,사천,김해,밀양,거제,양산,제주,제주.1,서귀포
날짜,,,,,,,,,,,,,,,,,,,,,
2012-05-07,72.796,66.087,80.062,70.553,73.208,76.501,88.050,67.498,68.034,70.676,...,87.852,107.872,89.358,111.319,97.750,149.043,95.393,80.126,79.898,80.106
2012-05-14,72.821,66.017,80.204,70.673,73.347,76.525,88.194,67.372,67.854,70.756,...,87.852,107.872,89.358,111.319,97.750,148.631,95.393,80.126,79.898,80.106
2012-05-21,72.816,65.994,80.221,70.671,73.337,76.535,88.243,67.325,67.790,70.626,...,87.852,107.872,89.358,111.237,97.750,148.631,95.256,80.126,79.898,80.106
2012-05-28,72.831,65.980,80.273,70.713,73.382,76.547,88.301,67.306,67.739,70.513,...,87.969,107.872,89.358,111.237,97.750,148.563,95.172,80.133,79.908,80.106
2012-06-04,72.824,65.938,80.309,70.723,73.383,76.560,88.376,67.222,67.700,70.279,...,87.969,107.872,89.358,111.095,97.750,148.563,95.110,80.064,79.826,80.106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-04,88.565,85.621,91.462,84.855,85.447,91.476,97.521,86.467,86.785,87.199,...,101.514,100.466,100.651,92.061,104.090,87.653,87.106,101.039,101.498,99.687
2023-12-11,88.612,85.708,91.468,84.854,85.449,91.538,97.534,86.564,86.865,87.242,...,101.567,100.493,100.636,92.036,104.105,87.539,87.165,101.026,101.484,99.676
2023-12-18,88.654,85.789,91.471,84.849,85.442,91.590,97.542,86.657,86.954,87.297,...,101.600,100.518,100.610,91.992,104.159,87.380,87.162,101.019,101.482,99.655
2023-12-25,88.677,85.839,91.467,84.837,85.427,91.618,97.545,86.728,87.024,87.349,...,101.616,100.549,100.581,91.938,104.158,87.219,87.252,101.010,101.475,99.634
2024-01-01,88.702,85.886,91.468,84.838,85.426,91.645,97.548,86.792,87.090,87.390,...,101.695,100.557,100.552,91.894,104.162,87.073,87.315,100.994,101.459,99.621

In [13]:
oheader = header_excel.parse('one')
omdf.columns = oheader.columns
ojdf.columns = oheader.columns
oheader

Empty DataFrame
Columns: [전국, 수도권, 지방, 6대광역시, 5대광역시, 9개 도, 8개 도, 서울, 서울 강북권역, 서울 도심권, 서울 종로구, 서울 중구, 서울 용산구, 서울 동북권, 서울 성동구, 서울 광진구, 서울 동대문구, 서울 중랑구, 서울 성북구, 서울 강북구, 서울 도봉구, 서울 노원구, 서울 서북권, 서울 은평구, 서울 서대문구, 서울 마포구, 서울 강남권역, 서울 서남권, 서울 양천구, 서울 강서구, 서울 구로구, 서울 금천구, 서울 영등포구, 서울 동작구, 서울 관악구, 서울 동남권, 서울 서초구, 서울 강남구, 서울 송파구, 서울 강동구, 경기, 경기 경부1권, 과천, 안양, 안양 만안구, 안양 동안구, 성남, 성남 수정구, 성남 중원구, 성남 분당구, 군포, 의왕, 경기 경부2권, 안성, 용인, 용인 처인구, 용인 기흥구, 용인 수지구, 수원, 수원 장안구, 수원 권선구, 수원 팔달구, 수원 영통구, 경기 서해안권, 부천, 부천 원미구, 부천 소사구, 부천 오정구, 안산, 안산 상록구, 안산 단원구, 시흥, 광명, 화성, 오산, 평택, 경기 동부1권, 남양주, 구리, 하남, 경기 광주, 경기 동부2권, 이천, 여주, 경기 경의권, 김포, 고양, 고양 덕양구, 고양 일산동구, 고양 일산서구, 파주, 경기 경원권, 포천, 동두천, 양주, 의정부, 인천, 인천 중구, 인천 동구, 인천 미추홀구, ...]
Index: []

[0 rows x 235 columns]

In [14]:
omlast_row = omdf.tail(1)
ojlast_row = ojdf.tail(1)
omlast_row

,전국,수도권,지방,6대광역시,5대광역시,9개 도,8개 도,서울,서울 강북권역,서울 도심권,...,진주,통영,사천,김해,밀양,거제,양산,제주도,제주,서귀포
날짜,,,,,,,,,,,,,,,,,,,,,
2024-01-01,93.427,93.093,93.748,89.64,89.115,95.597,98.579,94.351,91.449,95.572,...,100.858,97.731,99.678,91.88,104.43,86.948,93.586,102.178,102.532,101.199

In [21]:
omlast_row.to_sql("onem", conn, if_exists="append")
ojlast_row.to_sql("onej", conn, if_exists="append")

1

In [7]:
#전체 교체
# omdf.to_sql("onem", conn, if_exists="replace")
# ojdf.to_sql("onej", conn, if_exists="replace")

c:\Anaconda3\lib\site-packages\pandas\core\generic.py:2605: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

In [22]:
omt = pd.read_sql("SELECT * FROM onem", conn, index_col='날짜', parse_dates={'날짜', "%Y-%m-%d"}) 
ojt = pd.read_sql("SELECT * FROM onej", conn, index_col='날짜', parse_dates={'날짜', "%Y-%m-%d"}) 
ojt

,전국,수도권,지방,6대광역시,5대광역시,9개 도,8개 도,서울,서울 강북권역,서울 도심권,...,진주,통영,사천,김해,밀양,거제,양산,제주도,제주,서귀포
날짜,,,,,,,,,,,,,,,,,,,,,
2012-05-07,72.796,66.087,80.062,70.553,73.208,76.501,88.050,67.498,68.034,70.676,...,87.852,107.872,89.358,111.319,97.750,149.043,95.393,80.126,79.898,80.106
2012-05-14,72.821,66.017,80.204,70.673,73.347,76.525,88.194,67.372,67.854,70.756,...,87.852,107.872,89.358,111.319,97.750,148.631,95.393,80.126,79.898,80.106
2012-05-21,72.816,65.994,80.221,70.671,73.337,76.535,88.243,67.325,67.790,70.626,...,87.852,107.872,89.358,111.237,97.750,148.631,95.256,80.126,79.898,80.106
2012-05-28,72.831,65.980,80.273,70.713,73.382,76.547,88.301,67.306,67.739,70.513,...,87.969,107.872,89.358,111.237,97.750,148.563,95.172,80.133,79.908,80.106
2012-06-04,72.824,65.938,80.309,70.723,73.383,76.560,88.376,67.222,67.700,70.279,...,87.969,107.872,89.358,111.095,97.750,148.563,95.110,80.064,79.826,80.106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-04,88.565,85.621,91.462,84.855,85.447,91.476,97.521,86.467,86.785,87.199,...,101.514,100.466,100.651,92.061,104.090,87.653,87.106,101.039,101.498,99.687
2023-12-11,88.612,85.708,91.468,84.854,85.449,91.538,97.534,86.564,86.865,87.242,...,101.567,100.493,100.636,92.036,104.105,87.539,87.165,101.026,101.484,99.676
2023-12-18,88.654,85.789,91.471,84.849,85.442,91.590,97.542,86.657,86.954,87.297,...,101.600,100.518,100.610,91.992,104.159,87.380,87.162,101.019,101.482,99.655
2023-12-25,88.677,85.839,91.467,84.837,85.427,91.618,97.545,86.728,87.024,87.349,...,101.616,100.549,100.581,91.938,104.158,87.219,87.252,101.010,101.475,99.634
2024-01-01,88.702,85.886,91.468,84.838,85.426,91.645,97.548,86.792,87.090,87.390,...,101.695,100.557,100.552,91.894,104.162,87.073,87.315,100.994,101.459,99.621

In [15]:
# Close the database connection
conn.close()

## 스프레드시트에 쓰기

In [1]:
import gspread
import pandas as pd
from oauth2client.service_account import ServiceAccountCredentials

scope = [
    'https://spreadsheets.google.com/feeds',
    'https://www.googleapis.com/auth/drive',
]

json_file_name = 'C://Users/user/fundamental/files/weekly-house-db-ac0a43b61ddd.json'
# json_file_name = 'C://Users/user/fundamental/files/weekly-house-db-ac0a43b61ddd.json'
credentials = ServiceAccountCredentials.from_json_keyfile_name(json_file_name, scope)
gc = gspread.authorize(credentials)


spreadsheet_url = 'https://docs.google.com/spreadsheets/d/1cr50NkztlYeTCMkmqkeq16Va-99yT3Hs-Rbl2TGOp1U/edit#gid=0'
#지수
doc = gc.open_by_url(spreadsheet_url)
m_d = doc.worksheet('mae')
j_d = doc.worksheet('jeon')
#basic_city = doc.worksheet('city')
kb_m = doc.worksheet('kbm')
kb_j = doc.worksheet('kbj')
kb_s = doc.worksheet('kbs')
kb_js = doc.worksheet('kbjs')
m_d

In [16]:
num_rows = len(m_d.get_all_values())
num_rows

609

In [23]:
# omlast_row = omdf.tail(1)
# ojlast_row = ojdf.tail(1)
# omlast_row

,전국,수도권,지방,6대광역시,5대광역시,9개 도,8개 도,서울,서울 강북권역,서울 도심권,...,진주,통영,사천,김해,밀양,거제,양산,제주도,제주,서귀포
날짜,,,,,,,,,,,,,,,,,,,,,
2023-06-26,92.701,91.64,93.723,89.714,89.361,94.647,98.359,92.867,90.239,93.551,...,99.194,98.142,100.103,92.999,104.352,90.677,94.365,103.325,103.839,101.823

In [17]:
omlast_row.index = omlast_row.index.strftime('%Y-%m-%d')
omlast_row = omlast_row.reset_index()
ojlast_row.index = ojlast_row.index.strftime('%Y-%m-%d')
ojlast_row = ojlast_row.reset_index()

In [18]:
ol_row = omlast_row.values.tolist()[0]
ojl_row = ojlast_row.values.tolist()[0]

In [19]:
m_d.insert_row(ol_row, num_rows+1)
j_d.insert_row(ojl_row, num_rows+1)

{'spreadsheetId': '1cr50NkztlYeTCMkmqkeq16Va-99yT3Hs-Rbl2TGOp1U',
 'updates': {'spreadsheetId': '1cr50NkztlYeTCMkmqkeq16Va-99yT3Hs-Rbl2TGOp1U',
  'updatedRange': 'jeon!A610:IB610',
  'updatedRows': 1,
  'updatedColumns': 236,
  'updatedCells': 236}}

In [20]:
#KB
mlast_row = mdf.tail(1)
jlast_row = jdf.tail(1)
mlast_row

,전국,서울,서울 강북권역,서울 강북구,서울 광진구,서울 노원구,서울 도봉구,서울 동대문구,서울 마포구,서울 서대문구,...,창원 의창구,창원 진해구,양산,거제,진주,김해,통영,제주도,제주,지방
날짜,,,,,,,,,,,,,,,,,,,,,
2024-01-01,90.008,90.635,88.381,88.38,94.154,84.067,82.755,87.035,93.214,89.119,...,96.048,99.526,94.867,90.974,100.993,91.523,99.918,0.0,98.593,96.351

In [21]:
mlast_row.index = mlast_row.index.strftime('%Y-%m-%d')
mlast_row = mlast_row.reset_index()
jlast_row.index = jlast_row.index.strftime('%Y-%m-%d')
jlast_row = jlast_row.reset_index()

In [22]:
l_row = mlast_row.values.tolist()[0]
jl_row = jlast_row.values.tolist()[0]

In [23]:
kbnum_rows = len(kb_m.get_all_values())
kbnum_rows

794

In [24]:
kb_m.insert_row(l_row, kbnum_rows+1)
kb_j.insert_row(jl_row, kbnum_rows+1)

{'spreadsheetId': '1cr50NkztlYeTCMkmqkeq16Va-99yT3Hs-Rbl2TGOp1U',
 'updates': {'spreadsheetId': '1cr50NkztlYeTCMkmqkeq16Va-99yT3Hs-Rbl2TGOp1U',
  'updatedRange': 'kbj!A795:GH795',
  'updatedRows': 1,
  'updatedColumns': 190,
  'updatedCells': 190}}

## 수급 지수

In [25]:
slast_row = ms_df.tail(1)
sjlast_row = js_df.tail(1)
slast_row

                전국                  서울특별시                 강북14개구         \
nan          매도자많음  매수자많음  매수우위지수   매도자많음  매수자많음  매수우위지수   매도자많음  매수자많음
날짜
2024-01-01  81.882  1.556  19.674  76.098  1.327  25.228  79.066  1.472

                    강남11개구  ...    경상북도    경상남도                   기타지방         \
nan         매수우위지수   매도자많음  ...  매수우위지수   매도자많음  매수자많음  매수우위지수   매도자많음  매수자많음
날짜                          ...
2024-01-01  22.406  73.418  ...  23.833  79.921  2.339  22.417  78.025  2.116

                   제주특별자치도
nan         매수우위지수   매도자많음  매수자많음  매수우위지수
날짜
2024-01-01  24.091  74.181  3.275  29.094

[1 rows x 72 columns]

In [26]:
slast_row.index = slast_row.index.strftime('%Y-%m-%d')
slast_row = slast_row.reset_index()
sjlast_row.index = sjlast_row.index.strftime('%Y-%m-%d')
sjlast_row = sjlast_row.reset_index()

In [27]:
sl_row = slast_row.values.tolist()[0]
sjl_row = sjlast_row.values.tolist()[0]
#sl_row

In [28]:
snum_rows = len(kb_s.get_all_values())
snum_rows

1036

In [29]:
kb_s.insert_row(sl_row, snum_rows+1)
kb_js.insert_row(sjl_row, snum_rows+1)

{'spreadsheetId': '1cr50NkztlYeTCMkmqkeq16Va-99yT3Hs-Rbl2TGOp1U',
 'updates': {'spreadsheetId': '1cr50NkztlYeTCMkmqkeq16Va-99yT3Hs-Rbl2TGOp1U',
  'updatedRange': 'kbjs!A1037:BU1037',
  'updatedRows': 1,
  'updatedColumns': 73,
  'updatedCells': 73}}

## 월간 업데이트