In [1]:
import pandas as pd
import json
import os
import sqlite3

#header
path = 'https://github.com/sizipusx/fundamental/blob/50f1e60bc474b8411e822e080718f1e5b4de19e2/files/header.xlsx?raw=true'
header_excel = pd.ExcelFile(path)

# Create a connection to the SQLite database
#home pc
conn = sqlite3.connect('C://Users/sizip/Documents/GitHub/fundamental/files/weekly_house.db')
#school pc
# conn = sqlite3.connect('C://Users/user/Documents/GitHub/fundamental/files/weekly_house.db')

## KB 주간

In [2]:
# 연결 1
file_path = "C://Users/sizip/OneDriveData/data/house/20251110_주간시계열.xlsx"
kbm_dict = pd.ExcelFile(file_path)
mdf = kbm_dict.parse("3.매매지수", skiprows=1, index_col=0, parse_dates=True)
jdf = kbm_dict.parse("4.전세지수", skiprows=1, index_col=0, parse_dates=True)
jdf

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_6952\705873500.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  mdf = kbm_dict.parse("3.매매지수", skiprows=1, index_col=0, parse_dates=True)
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_6952\705873500.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  jdf = kbm_dict.parse("4.전세지수", skiprows=1, index_col=0, parse_dates=True)

,전국,서울특별시,강북14개구,강북구,광진구,노원구,도봉구,동대문구,마포구,서대문구,...,의창구,진해구,양산시,거제시,진주시,김해시,통영시,제주도,제주특별자치도,기타지방
구분,,,,,,,,,,,,,,,,,,,,,
Classification,Total,Seoul,Northern seoul,Gangbuk-gu,Gwangjin-gu,Nowon-gu,Dobong-gu,Dongdaemun-gu,Mapo-gu,Seodaemun-gu,...,Uichang-gu,Jinhae-gu,Yangsan,Geoje,Jinju,Gimhae,Tongyeong,Jeju-do,Jeju/\nSeogwipo,Non-Metropolitan Area
2008-04-07 00:00:00,50.626127,45.717886,46.865102,44.498471,44.762236,45.865112,48.900573,48.849289,40.391221,54.749906,...,NaN,58.093245,49.560838,66.779067,83.528927,49.067388,NaN,NaN,52.88673,58.655763
2008-04-14 00:00:00,50.665963,45.752126,46.916511,44.587962,44.735281,45.930562,49.014186,48.916026,40.391221,54.760537,...,NaN,58.093245,49.5478,67.000851,83.449355,49.19213,NaN,NaN,52.888448,58.692056
2008-04-21 00:00:00,50.692096,45.773414,46.947622,44.684963,44.741716,45.956724,49.026205,48.966786,40.389294,54.835773,...,NaN,58.093245,49.5478,67.331284,83.330201,49.24641,NaN,NaN,52.889303,58.718368
2008-04-28 00:00:00,50.724241,45.796596,46.96439,44.708317,44.771571,45.981169,49.020388,48.972139,40.407085,54.932462,...,NaN,57.989307,49.537591,67.650109,83.234121,49.269239,NaN,NaN,52.889303,58.752961
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-10-13 00:00:00,90.986641,94.446814,93.912699,92.712118,95.686319,92.81723,91.268434,90.312283,98.229873,101.135743,...,92.466597,101.491411,89.002153,86.985754,104.493647,88.290656,99.034245,NaN,96.372781,96.087421
2025-10-20 00:00:00,91.03997,94.546492,94.006476,92.721718,95.849605,92.946049,91.281703,90.354407,98.302426,101.320978,...,92.491593,101.491411,89.041165,86.998045,104.541613,88.277409,99.034245,NaN,96.439474,96.10724
2025-10-27 00:00:00,91.106786,94.705257,94.134373,92.760096,96.394744,93.117511,91.33004,90.386516,98.446804,101.46904,...,92.479447,101.491411,89.191149,87.063164,104.850804,88.328277,99.005052,NaN,96.527848,96.143495
2025-11-03 00:00:00,91.17428,94.826232,94.241374,92.840327,96.495438,93.153056,91.415828,90.44107,98.542325,101.660189,...,92.479447,101.491411,89.315945,87.179763,104.929568,88.348436,99.005052,NaN,96.549755,96.189662
2025-11-10 00:00:00,91.247309,94.976608,94.36175,92.956131,96.682259,93.30205,91.495162,90.475276,98.615292,101.738574,...,92.474944,101.491411,89.470289,87.190976,105.055891,88.351445,99.005052,NaN,96.584008,96.227884

In [3]:
mdf = mdf.iloc[2:mdf['전국'].count(),:189]
mdf.index.name="날짜"
mdf.index = pd.to_datetime(mdf.index)
mdf = mdf.astype(float).fillna(0).round(decimals=3)
jdf = jdf.iloc[2:jdf['전국'].count(),:189]
jdf.index.name="날짜"
jdf.index = pd.to_datetime(jdf.index)
jdf = jdf.astype(float).fillna(0).round(decimals=3)
jdf

,전국,서울특별시,강북14개구,강북구,광진구,노원구,도봉구,동대문구,마포구,서대문구,...,의창구,진해구,양산시,거제시,진주시,김해시,통영시,제주도,제주특별자치도,기타지방
날짜,,,,,,,,,,,,,,,,,,,,,
2008-04-14,50.666,45.752,46.917,44.588,44.735,45.931,49.014,48.916,40.391,54.761,...,0.000,58.093,49.548,67.001,83.449,49.192,0.000,0.0,52.888,58.692
2008-04-21,50.692,45.773,46.948,44.685,44.742,45.957,49.026,48.967,40.389,54.836,...,0.000,58.093,49.548,67.331,83.330,49.246,0.000,0.0,52.889,58.718
2008-04-28,50.724,45.797,46.964,44.708,44.772,45.981,49.020,48.972,40.407,54.932,...,0.000,57.989,49.538,67.650,83.234,49.269,0.000,0.0,52.889,58.753
2008-05-05,50.760,45.819,47.006,44.783,44.787,45.980,49.035,49.056,40.441,54.977,...,0.000,57.989,49.538,67.868,83.234,49.269,0.000,0.0,52.889,58.788
2008-05-12,50.782,45.838,47.022,44.794,44.792,45.956,49.035,49.163,40.506,54.987,...,0.000,57.989,49.538,68.094,82.940,49.340,0.000,0.0,52.993,58.830
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-10-13,90.987,94.447,93.913,92.712,95.686,92.817,91.268,90.312,98.230,101.136,...,92.467,101.491,89.002,86.986,104.494,88.291,99.034,0.0,96.373,96.087
2025-10-20,91.040,94.546,94.006,92.722,95.850,92.946,91.282,90.354,98.302,101.321,...,92.492,101.491,89.041,86.998,104.542,88.277,99.034,0.0,96.439,96.107
2025-10-27,91.107,94.705,94.134,92.760,96.395,93.118,91.330,90.387,98.447,101.469,...,92.479,101.491,89.191,87.063,104.851,88.328,99.005,0.0,96.528,96.143
2025-11-03,91.174,94.826,94.241,92.840,96.495,93.153,91.416,90.441,98.542,101.660,...,92.479,101.491,89.316,87.180,104.930,88.348,99.005,0.0,96.550,96.190
2025-11-10,91.247,94.977,94.362,92.956,96.682,93.302,91.495,90.475,98.615,101.739,...,92.475,101.491,89.470,87.191,105.056,88.351,99.005,0.0,96.584,96.228

In [4]:
header = header_excel.parse('KB')
header = header.iloc[:,:189]
header

Empty DataFrame
Columns: [전국, 서울, 서울 강북권역, 서울 강북구, 서울 광진구, 서울 노원구, 서울 도봉구, 서울 동대문구, 서울 마포구, 서울 서대문구, 서울 성동구, 서울 성북구, 서울 용산구, 서울 은평구, 서울 종로구, 서울 중구, 서울 중랑구, 서울 강남권역, 서울 강남구, 서울 강동구, 서울 강서구, 서울 관악구, 서울 구로구, 서울 금천구, 서울 동작구, 서울 서초구, 서울 송파구, 서울 양천구, 서울 영등포구, 6대광역시, 부산, 부산 중구, 부산 서구, 부산 동구, 부산 영도구, 부산 부산진구, 부산 동래구, 부산 남구, 부산 북구, 부산 해운대구, 부산 사하구, 부산 금정구, 부산 연제구, 부산 수영구, 부산 사상구, 부산 기장군, 부산 강서구, 대구, 대구 중구, 대구 동구, 대구 서구, 대구 남구, 대구 북구, 대구 수성구, 대구 달서구, 대구 달성군, 인천, 인천 중구, 인천 동구, 인천 미추홀구, 인천 연수구, 인천 남동구, 인천 부평구, 인천 계양구, 인천 서구, 광주, 광주 동구, 광주 서구, 광주 남구, 광주 북구, 광주 광산구, 대전, 대전 동구, 대전 중구, 대전 서구, 대전 유성구, 대전 대덕구, 울산, 울산 중구, 울산 남구, 울산 동구, 울산 북구, 울산 울주군, 5대광역시, 수도권, 세종, 경기, 수원, 수원 장안구, 수원 권선구, 수원 팔달구, 수원 영통구, 성남, 성남 수정구, 성남 중원구, 성남 분당구, 고양, 고양 덕양구, 고양 일산동구, 고양 일산서구, ...]
Index: []

[0 rows x 189 columns]

In [6]:
mdf.columns = header.columns
jdf.columns = header.columns
mlast_row = mdf.tail(6)
jlast_row = jdf.tail(6)
mlast_row

,전국,서울,서울 강북권역,서울 강북구,서울 광진구,서울 노원구,서울 도봉구,서울 동대문구,서울 마포구,서울 서대문구,...,창원 의창구,창원 진해구,양산,거제,진주,김해,통영,제주도,제주,지방
날짜,,,,,,,,,,,,,,,,,,,,,
2025-09-29,89.892,100.302,93.895,87.972,111.400,83.621,81.361,92.216,108.528,96.902,...,92.969,96.600,89.192,77.841,104.016,87.586,95.722,0.0,95.408,94.289
2025-10-13,90.019,100.984,94.480,88.014,113.655,83.730,81.488,92.872,110.357,97.539,...,92.969,96.592,89.181,77.730,104.086,87.534,95.720,0.0,95.364,94.297
2025-10-20,90.153,101.648,95.066,88.111,115.759,83.930,81.557,93.556,111.961,98.097,...,92.979,96.600,89.185,77.576,104.144,87.521,95.570,0.0,95.360,94.302
2025-10-27,90.263,102.150,95.498,88.171,116.939,84.130,81.692,94.284,113.031,98.596,...,92.967,96.590,89.184,77.524,104.378,87.552,95.540,0.0,95.352,94.317
2025-11-03,90.324,102.455,95.735,88.253,117.544,84.230,81.709,94.549,113.628,98.903,...,92.967,96.576,89.206,77.398,104.509,87.561,95.503,0.0,95.344,94.320
2025-11-10,90.385,102.717,95.928,88.329,117.890,84.256,81.712,94.730,114.118,99.175,...,93.264,96.583,89.182,77.312,104.689,87.570,95.460,0.0,95.313,94.331

In [7]:
mdf

,전국,서울,서울 강북권역,서울 강북구,서울 광진구,서울 노원구,서울 도봉구,서울 동대문구,서울 마포구,서울 서대문구,...,창원 의창구,창원 진해구,양산,거제,진주,김해,통영,제주도,제주,지방
날짜,,,,,,,,,,,,,,,,,,,,,
2008-04-14,58.089,59.882,59.980,63.783,63.001,55.789,62.438,60.355,55.056,60.835,...,0.000,65.900,54.703,77.285,88.282,55.153,0.000,0.0,48.932,62.436
2008-04-21,58.198,60.042,60.250,64.016,63.108,56.147,62.869,60.542,55.116,61.008,...,0.000,65.900,54.703,77.582,88.282,55.168,0.000,0.0,48.962,62.483
2008-04-28,58.281,60.163,60.444,64.169,63.161,56.440,63.144,60.558,55.175,61.137,...,0.000,65.893,54.801,77.965,88.204,55.238,0.000,0.0,48.962,62.537
2008-05-05,58.355,60.278,60.625,64.446,63.177,56.739,63.263,60.706,55.275,61.303,...,0.000,65.893,54.801,78.038,88.204,55.249,0.000,0.0,48.982,62.557
2008-05-12,58.427,60.387,60.796,64.917,63.224,56.923,63.443,60.852,55.318,61.602,...,0.000,65.893,54.854,78.329,88.170,55.322,0.000,0.0,49.037,62.603
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-10-13,90.019,100.984,94.480,88.014,113.655,83.730,81.488,92.872,110.357,97.539,...,92.969,96.592,89.181,77.730,104.086,87.534,95.720,0.0,95.364,94.297
2025-10-20,90.153,101.648,95.066,88.111,115.759,83.930,81.557,93.556,111.961,98.097,...,92.979,96.600,89.185,77.576,104.144,87.521,95.570,0.0,95.360,94.302
2025-10-27,90.263,102.150,95.498,88.171,116.939,84.130,81.692,94.284,113.031,98.596,...,92.967,96.590,89.184,77.524,104.378,87.552,95.540,0.0,95.352,94.317
2025-11-03,90.324,102.455,95.735,88.253,117.544,84.230,81.709,94.549,113.628,98.903,...,92.967,96.576,89.206,77.398,104.509,87.561,95.503,0.0,95.344,94.320
2025-11-10,90.385,102.717,95.928,88.329,117.890,84.256,81.712,94.730,114.118,99.175,...,93.264,96.583,89.182,77.312,104.689,87.570,95.460,0.0,95.313,94.331

In [8]:
mlast_row.to_sql("kbm", conn, if_exists="append")
jlast_row.to_sql("kbj", conn, if_exists="append")
#2024-01-01 부천시 3개구 분할 추가
# mdf.to_sql("kbm", conn, if_exists="replace")
# jdf.to_sql("kbj", conn, if_exists="replace")

6

In [9]:
mt = pd.read_sql("SELECT * FROM kbm", conn, index_col='날짜', parse_dates={'날짜', "%Y-%m-%d"}) 
jt = pd.read_sql("SELECT * FROM kbj", conn, index_col='날짜', parse_dates={'날짜', "%Y-%m-%d"}) 
jt.tail(8)

,전국,서울,서울 강북권역,서울 강북구,서울 광진구,서울 노원구,서울 도봉구,서울 동대문구,서울 마포구,서울 서대문구,...,창원 의창구,창원 진해구,양산,거제,진주,김해,통영,제주도,제주,지방
날짜,,,,,,,,,,,,,,,,,,,,,
2025-09-15,90.848,94.039,93.617,92.633,94.418,92.477,91.215,90.113,98.006,101.061,...,92.510,101.438,88.640,86.825,104.274,88.235,99.050,0.0,96.370,96.017
2025-09-22,90.890,94.142,93.706,92.653,94.996,92.623,91.221,90.146,98.048,101.062,...,92.487,101.438,88.773,86.923,104.332,88.232,99.034,0.0,96.370,96.044
2025-09-29,90.934,94.287,93.767,92.671,95.321,92.650,91.259,90.185,98.078,101.115,...,92.481,101.438,88.903,86.986,104.426,88.238,99.034,0.0,96.375,96.066
2025-10-13,90.987,94.447,93.913,92.712,95.686,92.817,91.268,90.312,98.230,101.136,...,92.467,101.491,89.002,86.986,104.494,88.291,99.034,0.0,96.373,96.087
2025-10-20,91.040,94.546,94.006,92.722,95.850,92.946,91.282,90.354,98.302,101.321,...,92.492,101.491,89.041,86.998,104.542,88.277,99.034,0.0,96.439,96.107
2025-10-27,91.107,94.705,94.134,92.760,96.395,93.118,91.330,90.387,98.447,101.469,...,92.479,101.491,89.191,87.063,104.851,88.328,99.005,0.0,96.528,96.143
2025-11-03,91.174,94.826,94.241,92.840,96.495,93.153,91.416,90.441,98.542,101.660,...,92.479,101.491,89.316,87.180,104.930,88.348,99.005,0.0,96.550,96.190
2025-11-10,91.247,94.977,94.362,92.956,96.682,93.302,91.495,90.475,98.615,101.739,...,92.475,101.491,89.470,87.191,105.056,88.351,99.005,0.0,96.584,96.228

In [9]:
# 매수우위지수와 전세수급 지수
# 둘다 replace

In [10]:
ms = kbm_dict.parse("7.매수매도", skiprows=1, index_col=0, parse_dates=True)
ms.index.name="날짜"
js = kbm_dict.parse("9.전세수급", skiprows=1, index_col=0, parse_dates=True)
js.index.name="날짜"

In [11]:
js

,전국 Total,Unnamed: 2,Unnamed: 3,서울특별시 Seoul,Unnamed: 5,Unnamed: 6,강북14개구 Northern seoul,Unnamed: 8,Unnamed: 9,강남11개구 Southern Seoul,...,Unnamed: 63,경상남도 Gyeongsangnam-do,Unnamed: 65,Unnamed: 66,기타지방 Non Metropolitan Area,Unnamed: 68,Unnamed: 69,제주특별자치도 Jeju,Unnamed: 71,Unnamed: 72
날짜,,,,,,,,,,,,,,,,,,,,,
NaT,수요>공급,수요<공급,전세수급지수,수요>공급,수요<공급,전세수급지수,수요>공급,수요<공급,전세수급지수,수요>공급,...,전세수급지수,수요>공급,수요<공급,전세수급지수,수요>공급,수요<공급,전세수급지수,수요>공급,수요<공급,전세수급지수
NaT,Demand > Supply,Demand < Supply,Jeonse Demend & Supplly Index,Demand > Supply,Demand < Supply,Jeonse Demend & Supplly Index,Demand > Supply,Demand < Supply,Jeonse Demend & Supplly Index,Demand > Supply,...,Jeonse Demend & Supplly Index,Demand > Supply,Demand < Supply,Jeonse Demend & Supplly Index,Demand > Supply,Demand < Supply,Jeonse Demend & Supplly Index,Demand > Supply,Demand < Supply,Jeonse Demend & Supplly Index
2003-07-01,33.226731,32.669108,100.557622,17.7,41.1,76.6,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,67.9,12.4,155.5,NaN,NaN,NaN
2003-07-08,35.671486,34.458584,101.212902,20.6,49.4,71.2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,65.4,4.9,160.5,NaN,NaN,NaN
2003-07-15,36.507812,34.48941,102.018403,18.9,43.4,75.5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,65.8,11,154.8,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-10-27,66.126005,6.405968,159.720036,64.429241,4.273602,160.15564,67.818533,3.902402,163.916131,61.394414,...,148.59696,68.567655,4.293318,164.274337,65.986543,8.466266,157.520276,56.576875,12.836717,143.740158
2025-11-03,66.559159,6.50252,160.056639,64.999816,4.649887,160.349929,67.864575,4.764441,163.100134,62.435325,...,154.587265,65.435196,6.650614,158.784581,66.067726,8.191776,157.87595,54.278906,17.115623,137.163282
2025-11-10,66.057809,6.483684,159.574125,63.246469,4.792249,158.454221,67.619101,4.893878,162.725223,59.334112,...,157.126155,66.546337,3.725685,162.820652,66.184361,8.638819,157.545542,61.315489,16.214801,145.100688
NaT,"주) 전세수급지수 = 100 + ""공급부족""비중 - ""공급충분""비중 (조사항목 :...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaT,- 전세수급지수는 0~200 범위 이내이며 지수가 100을 초과할수록 '공급부...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
#컬럼명 바꿈
m1 = ms.columns.map(lambda x: x.split(' ')[0])

new_s1 = []
for num, gu_data in enumerate(m1):
    check = num
    if gu_data.startswith('Un'):
        new_s1.append(new_s1[check-1])
    else:
        new_s1.append(m1[check])

#컬럼 설정
ms.columns = [new_s1,ms.iloc[0]]
js.columns = [new_s1,js.iloc[0]]
js

                                                           전국  \
NaT                                                     수요>공급
날짜
NaT                                                     수요>공급
NaT                                           Demand > Supply
2003-07-01                                          33.226731
2003-07-08                                          35.671486
2003-07-15                                          36.507812
...                                                       ...
2025-10-27                                          66.126005
2025-11-03                                          66.559159
2025-11-10                                          66.057809
NaT         주) 전세수급지수 = 100 + "공급부족"비중 - "공급충분"비중  (조사항목 :...
NaT            - 전세수급지수는 0~200 범위 이내이며 지수가 100을 초과할수록 '공급부...

                                                                      서울특별시  \
NaT                   수요<공급                         전세수급지수            수요>공급
날짜
NaT                   수요<공급                         전세수급지수            수요>공급
NaT         Demand < Supply  Jeonse Demend & Supplly Index  Demand > Supply
2003-07-01        32.669108                     100.557622             17.7
2003-07-08        34.458584                     101.212902             20.6
2003-07-15         34.48941                     102.018403             18.9
...                     ...                            ...              ...
2025-10-27         6.405968                     159.720036        64.429241
2025-11-03          6.50252                     160.056639        64.999816
2025-11-10         6.483684                     159.574125        63.246469
NaT                     NaN                            NaN              NaN
NaT                     NaN                            NaN              NaN

                                                                     강북14개구  \
NaT                   수요<공급                         전세수급지수            수요>공급
날짜
NaT                   수요<공급                         전세수급지수            수요>공급
NaT         Demand < Supply  Jeonse Demend & Supplly Index  Demand > Supply
2003-07-01             41.1                           76.6              NaN
2003-07-08             49.4                           71.2              NaN
2003-07-15             43.4                           75.5              NaN
...                     ...                            ...              ...
2025-10-27         4.273602                      160.15564        67.818533
2025-11-03         4.649887                     160.349929        67.864575
2025-11-10         4.792249                     158.454221        67.619101
NaT                     NaN                            NaN              NaN
NaT                     NaN                            NaN              NaN

                                                                     강남11개구  \
NaT                   수요<공급                         전세수급지수            수요>공급
날짜
NaT                   수요<공급                         전세수급지수            수요>공급
NaT         Demand < Supply  Jeonse Demend & Supplly Index  Demand > Supply
2003-07-01              NaN                            NaN              NaN
2003-07-08              NaN                            NaN              NaN
2003-07-15              NaN                            NaN              NaN
...                     ...                            ...              ...
2025-10-27         3.902402                     163.916131        61.394414
2025-11-03         4.764441                     163.100134        62.435325
2025-11-10         4.893878                     162.725223        59.334112
NaT                     NaN                            NaN              NaN
NaT                     NaN                            NaN              NaN

            ...                           경상북도             경상남도  \
NaT         ...                         전세수급지수            수요>공급
날짜          ...
NaT         ...                         전세수급지수            수요>공급
NaT         ...  Jeonse Demend & Supplly Index  Demand > Supply
2003-07-01  ...                            NaN              NaN
2003-07-08  ...                            NaN              NaN
2003-07-15  ...                            NaN              NaN
...         ...                            ...              ...
2025-10-27  ...                      148.59696        68.567655
2025-11-03  ...                     154.587265        65.435196
2025-11-10  ...                     157.126155        66.546337
NaT         ...                            NaN              NaN
NaT         ...                            NaN              NaN

                                                                       기타지방  \
NaT                   수요<공급                         전세수급지수            수요>공급
날짜
NaT                   수요<공급                         전세수급지수            수요>공급
NaT         Demand < Supply  Jeonse Demend & Supplly Index  Demand > Supply
2003-07-01              NaN                            NaN             67.9
2003-07-08              NaN                            NaN             65.4
2003-07-15              NaN                            NaN             65.8
...                     ...                            ...              ...
2025-10-27         4.293318                     164.274337        65.986543
2025-11-03         6.650614                     158.784581        66.067726
2025-11-10         3.725685                     162.820652        66.184361
NaT                     NaN                            NaN              NaN
NaT                     NaN                            NaN              NaN

                                                                    제주특별자치도  \
NaT                   수요<공급                         전세수급지수            수요>공급
날짜
NaT                   수요<공급                         전세수급지수            수요>공급
NaT         Demand < Supply  Jeonse Demend & Supplly Index  Demand > Supply
2003-07-01             12.4                          155.5              NaN
2003-07-08              4.9                          160.5              NaN
2003-07-15               11                          154.8              NaN
...                     ...                            ...              ...
2025-10-27         8.466266                     157.520276        56.576875
2025-11-03         8.191776                      157.87595        54.278906
2025-11-10         8.638819                     157.545542        61.315489
NaT                     NaN                            NaN              NaN
NaT                     NaN                            NaN              NaN


NaT                   수요<공급                         전세수급지수
날짜
NaT                   수요<공급                         전세수급지수
NaT         Demand < Supply  Jeonse Demend & Supplly Index
2003-07-01              NaN                            NaN
2003-07-08              NaN                            NaN
2003-07-15              NaN                            NaN
...                     ...                            ...
2025-10-27        12.836717                     143.740158
2025-11-03        17.115623                     137.163282
2025-11-10        16.214801                     145.100688
NaT                     NaN                            NaN
NaT                     NaN                            NaN

[1132 rows x 72 columns]

In [13]:
ms_df = ms.iloc[2:ms[('전국', '매수우위지수')].count()]
ms_df.index = pd.to_datetime(ms_df.index)
ms_df = ms_df.astype(float).fillna(0).round(decimals=3)
js_df = js.iloc[2:js[('전국', '전세수급지수')].count()]
js_df.index = pd.to_datetime(js_df.index)
js_df = js_df.astype(float).fillna(0).round(decimals=3)
js_df

                전국                    서울특별시                   강북14개구         \
NaT          수요>공급   수요<공급   전세수급지수   수요>공급   수요<공급   전세수급지수   수요>공급  수요<공급
날짜
2003-07-01  33.227  32.669  100.558  17.700  41.100   76.600   0.000  0.000
2003-07-08  35.671  34.459  101.213  20.600  49.400   71.200   0.000  0.000
2003-07-15  36.508  34.489  102.018  18.900  43.400   75.500   0.000  0.000
2003-07-22  38.400  30.300  108.100  21.700  41.100   80.600   0.000  0.000
2003-07-29  37.500  29.500  108.000  19.900  39.800   80.100   0.000  0.000
...            ...     ...      ...     ...     ...      ...     ...    ...
2025-10-13  64.930   6.934  157.996  63.010   5.288  157.722  63.898  4.541
2025-10-20  64.442   7.230  157.212  61.967   5.298  156.669  64.126  5.270
2025-10-27  66.126   6.406  159.720  64.429   4.274  160.156  67.819  3.902
2025-11-03  66.559   6.503  160.057  65.000   4.650  160.350  67.865  4.764
2025-11-10  66.058   6.484  159.574  63.246   4.792  158.454  67.619  4.894

                     강남11개구  ...     경상북도    경상남도                    기타지방  \
NaT          전세수급지수   수요>공급  ...   전세수급지수   수요>공급  수요<공급   전세수급지수   수요>공급
날짜                           ...
2003-07-01    0.000   0.000  ...    0.000   0.000  0.000    0.000  67.900
2003-07-08    0.000   0.000  ...    0.000   0.000  0.000    0.000  65.400
2003-07-15    0.000   0.000  ...    0.000   0.000  0.000    0.000  65.800
2003-07-22    0.000   0.000  ...    0.000   0.000  0.000    0.000  67.100
2003-07-29    0.000   0.000  ...    0.000   0.000  0.000    0.000  68.300
...             ...     ...  ...      ...     ...    ...      ...     ...
2025-10-13  159.357  62.215  ...  150.464  65.498  5.781  159.717  66.588
2025-10-20  158.856  60.034  ...  152.269  63.954  7.399  156.556  64.250
2025-10-27  163.916  61.394  ...  148.597  68.568  4.293  164.274  65.987
2025-11-03  163.100  62.435  ...  154.587  65.435  6.651  158.785  66.068
2025-11-10  162.725  59.334  ...  157.126  66.546  3.726  162.821  66.184

                            제주특별자치도
NaT          수요<공급   전세수급지수   수요>공급   수요<공급   전세수급지수
날짜
2003-07-01  12.400  155.500   0.000   0.000    0.000
2003-07-08   4.900  160.500   0.000   0.000    0.000
2003-07-15  11.000  154.800   0.000   0.000    0.000
2003-07-22   6.100  161.000   0.000   0.000    0.000
2003-07-29  12.200  156.100   0.000   0.000    0.000
...            ...      ...     ...     ...      ...
2025-10-13   8.412  158.177  53.178  15.404  137.774
2025-10-20   9.551  154.699  61.327   9.061  152.265
2025-10-27   8.466  157.520  56.577  12.837  143.740
2025-11-03   8.192  157.876  54.279  17.116  137.163
2025-11-10   8.639  157.546  61.315  16.215  145.101

[1128 rows x 72 columns]

In [14]:
js_df.columns

MultiIndex([(     '전국',  '수요>공급'),
            (     '전국',  '수요<공급'),
            (     '전국', '전세수급지수'),
            (  '서울특별시',  '수요>공급'),
            (  '서울특별시',  '수요<공급'),
            (  '서울특별시', '전세수급지수'),
            ( '강북14개구',  '수요>공급'),
            ( '강북14개구',  '수요<공급'),
            ( '강북14개구', '전세수급지수'),
            ( '강남11개구',  '수요>공급'),
            ( '강남11개구',  '수요<공급'),
            ( '강남11개구', '전세수급지수'),
            (  '6개광역시',  '수요>공급'),
            (  '6개광역시',  '수요<공급'),
            (  '6개광역시', '전세수급지수'),
            (  '5개광역시',  '수요>공급'),
            (  '5개광역시',  '수요<공급'),
            (  '5개광역시', '전세수급지수'),
            (  '부산광역시',  '수요>공급'),
            (  '부산광역시',  '수요<공급'),
            (  '부산광역시', '전세수급지수'),
            (  '대구광역시',  '수요>공급'),
            (  '대구광역시',  '수요<공급'),
            (  '대구광역시', '전세수급지수'),
            (  '인천광역시',  '수요>공급'),
            (  '인천광역시',  '수요<공급'),
            (  '인천광역시', '전세수급지수'),
            (  '광주광역시',  '수요>공급'),
            (  '광주광역시',  '수요<공급'),
            (  '광주광역시', '전세수급지수'),
            (  '대전광역시',  '수요>공급'),
            (  '대전광역시',  '수요<공급'),
            (  '대전광역시', '전세수급지수'),
            (  '울산광역시',  '수요>공급'),
            (  '울산광역시',  '수요<공급'),
            (  '울산광역시', '전세수급지수'),
            ('세종특별자치시',  '수요>공급'),
            ('세종특별자치시',  '수요<공급'),
            ('세종특별자치시', '전세수급지수'),
            (    '수도권',  '수요>공급'),
            (    '수도권',  '수요<공급'),
            (    '수도권', '전세수급지수'),
            (    '경기도',  '수요>공급'),
            (    '경기도',  '수요<공급'),
            (    '경기도', '전세수급지수'),
            ('강원특별자치도',  '수요>공급'),
            ('강원특별자치도',  '수요<공급'),
            ('강원특별자치도', '전세수급지수'),
            (   '충청북도',  '수요>공급'),
            (   '충청북도',  '수요<공급'),
            (   '충청북도', '전세수급지수'),
            (   '충청남도',  '수요>공급'),
            (   '충청남도',  '수요<공급'),
            (   '충청남도', '전세수급지수'),
            ('전북특별자치도',  '수요>공급'),
            ('전북특별자치도',  '수요<공급'),
            ('전북특별자치도', '전세수급지수'),
            (   '전라남도',  '수요>공급'),
            (   '전라남도',  '수요<공급'),
            (   '전라남도', '전세수급지수'),
            (   '경상북도',  '수요>공급'),
            (   '경상북도',  '수요<공급'),
            (   '경상북도', '전세수급지수'),
            (   '경상남도',  '수요>공급'),
            (   '경상남도',  '수요<공급'),
            (   '경상남도', '전세수급지수'),
            (   '기타지방',  '수요>공급'),
            (   '기타지방',  '수요<공급'),
            (   '기타지방', '전세수급지수'),
            ('제주특별자치도',  '수요>공급'),
            ('제주특별자치도',  '수요<공급'),
            ('제주특별자치도', '전세수급지수')],
           names=[None, NaT])

In [15]:
ms_df.to_sql("kbs", conn, if_exists="replace")
msd = pd.read_sql("SELECT * FROM kbs", conn, index_col='날짜', parse_dates={'날짜', "%Y-%m-%d"}) 
js_df.to_sql("kbjs", conn, if_exists="replace")
jsd = pd.read_sql("SELECT * FROM kbjs", conn, index_col='날짜', parse_dates={'날짜', "%Y-%m-%d"}) 
msd

,"('전국', '매도자많음')","('전국', '매수자많음')","('전국', '매수우위지수')","('서울특별시', '매도자많음')","('서울특별시', '매수자많음')","('서울특별시', '매수우위지수')","('강북14개구', '매도자많음')","('강북14개구', '매수자많음')","('강북14개구', '매수우위지수')","('강남11개구', '매도자많음')",...,"('경상북도', '매수우위지수')","('경상남도', '매도자많음')","('경상남도', '매수자많음')","('경상남도', '매수우위지수')","('기타지방', '매도자많음')","('기타지방', '매수자많음')","('기타지방', '매수우위지수')","('제주특별자치도', '매도자많음')","('제주특별자치도', '매수자많음')","('제주특별자치도', '매수우위지수')"
날짜,,,,,,,,,,,,,,,,,,,,,
2003-07-01,44.030,11.914,67.884,42.000,11.500,69.500,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,44.400,14.800,70.400,0.000,0.000,0.000
2003-07-08,47.532,7.984,60.452,40.600,8.900,68.300,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,49.400,8.600,59.200,0.000,0.000,0.000
2003-07-15,48.117,7.917,59.800,41.200,11.300,70.100,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,46.900,11.100,64.200,0.000,0.000,0.000
2003-07-22,46.400,7.700,61.300,45.600,9.400,63.800,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,43.900,9.800,65.900,0.000,0.000,0.000
2003-07-29,45.300,8.700,63.400,40.900,9.900,69.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,43.900,11.000,67.100,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-10-13,66.142,9.519,43.377,33.367,28.852,95.486,37.827,25.985,88.158,29.374,...,33.989,74.574,4.910,30.335,72.041,4.906,32.865,62.837,5.135,42.298
2025-10-20,66.204,8.010,41.806,35.148,20.482,85.335,36.462,21.432,84.970,33.971,...,38.920,73.687,5.743,32.056,71.224,5.575,34.351,78.048,4.531,26.483
2025-10-27,65.639,6.456,40.816,34.724,13.790,79.065,36.296,14.539,78.243,33.317,...,38.347,70.840,5.651,34.812,71.420,5.641,34.221,60.539,0.000,39.461
2025-11-03,65.894,6.406,40.512,36.677,11.622,74.944,39.177,12.472,73.295,34.440,...,42.259,70.393,6.591,36.198,70.837,5.239,34.403,67.116,4.279,37.163
2025-11-10,65.022,6.170,41.148,36.538,11.778,75.241,37.957,12.071,74.114,35.268,...,38.712,67.901,6.745,38.845,70.923,5.589,34.667,75.168,0.000,24.832

## 부동산원 주간

In [16]:
# 연결 1
file_path = "C://Users/sizip/OneDriveData/data/house/'25.11월 2주 주간아파트가격동향조사 시계열.xlsx"
one_dict = pd.ExcelFile(file_path)
omdf = one_dict.parse("매매지수", skiprows=1, index_col=0, parse_dates=True)
ojdf = one_dict.parse("전세지수", skiprows=1, index_col=0, parse_dates=True)
ojdf

,전국,수도권,지방,6대\n광역시,5대\n광역시,9개 도,8개 도,서울,강북권역,도심권,...,진주,통영,사천,김해,밀양,거제,양산,제주,제주.1,서귀포
지역 날짜,,,,,,,,,,,,,,,,,,,,,
NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaT,The Whole\n Country,Seoul Metropolitan Area,Non Seoul Metropolitan Area,6 Metropolitan Cities,5 Metropolitan Cities,9 Provinces,8 Provinces,Seoul,Northern \nseoul,Dosim-kwon,...,Jinju-si,Tongyeong-si,Sacheon-si,Gimhae-si,Milyang-si,Geoje-si,Yangsan-si,Jeju,Jeju-si,Seogwipo-si
NaT,1,2,3,4,5,6,7,8,9,10,...,226,227,228,229,230,231,232,233,234,235
2012-05-07,80.491353,73.471941,88.103023,82.453668,86.295557,82.047542,90.651247,73.774334,73.644516,76.327134,...,84.498488,107.852684,87.645121,121.792526,91.699361,180.394747,110.059086,81.097609,80.587029,81.873216
2012-05-14,80.518798,73.39364,88.258512,82.594214,86.460152,82.073266,90.799478,73.636646,73.448709,76.413709,...,84.498488,107.852684,87.645121,121.792526,91.699361,179.895515,110.059086,81.097609,80.587029,81.873216
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaT,NaN,주5) 2018년 7월 1일 인천 남구→미추홀구 명칭변경 반영,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaT,NaN,"주6) 2024년 1월 1일 부천시 행정구역 개편(원미, 소사, 오정구) 반영 및 ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaT,NaN,"주7) 2012년 5월 ~ 2016년 7월 부천시 비자치구 3개구(원미구, 소사구,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaT,NaN,주8) '25년 1월 4주는 설연휴로 인해 조사 미실시로 2월 1주차(2.3기준) ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaT,NaN,주9) '25년 10월 1주는 추석연휴로 인해 조사 미실시로 10월 2주차(10.1...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
omdf = omdf.iloc[3:omdf['지방'].count()+1]
omdf.index.name="날짜"
omdf.index = pd.to_datetime(omdf.index)
omdf = omdf.astype(float).fillna(0).round(decimals=3)
ojdf = ojdf.iloc[3:ojdf['지방'].count()+1]
ojdf.index.name="날짜"
ojdf.index = pd.to_datetime(ojdf.index)
ojdf = ojdf.astype(float).fillna(0).round(decimals=3)
ojdf

,전국,수도권,지방,6대\n광역시,5대\n광역시,9개 도,8개 도,서울,강북권역,도심권,...,진주,통영,사천,김해,밀양,거제,양산,제주,제주.1,서귀포
날짜,,,,,,,,,,,,,,,,,,,,,
2012-05-07,80.491,73.472,88.103,82.454,86.296,82.048,90.651,73.774,73.645,76.327,...,84.498,107.853,87.645,121.793,91.699,180.395,110.059,81.098,80.587,81.873
2012-05-14,80.519,73.394,88.259,82.594,86.460,82.073,90.799,73.637,73.449,76.414,...,84.498,107.853,87.645,121.793,91.699,179.896,110.059,81.098,80.587,81.873
2012-05-21,80.514,73.368,88.278,82.592,86.447,82.084,90.850,73.585,73.380,76.273,...,84.498,107.853,87.645,121.703,91.699,179.896,109.901,81.098,80.587,81.873
2012-05-28,80.530,73.352,88.335,82.641,86.501,82.097,90.910,73.564,73.325,76.151,...,84.611,107.853,87.645,121.703,91.699,179.814,109.804,81.105,80.596,81.873
2012-06-04,80.523,73.306,88.374,82.652,86.502,82.110,90.987,73.472,73.283,75.898,...,84.611,107.853,87.645,121.547,91.699,179.814,109.733,81.036,80.514,81.873
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-10-13,100.406,100.851,99.978,100.085,100.197,100.170,99.675,101.721,101.215,101.588,...,101.839,99.049,99.790,98.626,101.301,101.373,101.472,98.864,98.994,98.411
2025-10-20,100.468,100.944,100.010,100.129,100.240,100.220,99.689,101.849,101.310,101.704,...,102.006,99.009,99.753,98.694,101.378,101.438,101.544,98.815,98.950,98.342
2025-10-27,100.535,101.046,100.043,100.183,100.294,100.272,99.701,101.989,101.404,101.836,...,102.135,98.948,99.711,98.735,101.438,101.517,101.655,98.773,98.909,98.300
2025-11-03,100.611,101.155,100.089,100.240,100.349,100.332,99.726,102.144,101.511,101.977,...,102.299,98.932,99.682,98.790,101.485,101.595,101.786,98.741,98.880,98.255
2025-11-10,100.689,101.269,100.132,100.301,100.405,100.391,99.740,102.295,101.602,102.095,...,102.372,98.874,99.660,98.892,101.499,101.650,101.884,98.719,98.858,98.235

In [18]:
oheader = header_excel.parse('one')
omdf.columns = oheader.columns
ojdf.columns = oheader.columns
oheader

Empty DataFrame
Columns: [전국, 수도권, 지방, 6대광역시, 5대광역시, 9개 도, 8개 도, 서울, 서울 강북권역, 서울 도심권, 서울 종로구, 서울 중구, 서울 용산구, 서울 동북권, 서울 성동구, 서울 광진구, 서울 동대문구, 서울 중랑구, 서울 성북구, 서울 강북구, 서울 도봉구, 서울 노원구, 서울 서북권, 서울 은평구, 서울 서대문구, 서울 마포구, 서울 강남권역, 서울 서남권, 서울 양천구, 서울 강서구, 서울 구로구, 서울 금천구, 서울 영등포구, 서울 동작구, 서울 관악구, 서울 동남권, 서울 서초구, 서울 강남구, 서울 송파구, 서울 강동구, 경기, 경기 경부1권, 과천, 안양, 안양 만안구, 안양 동안구, 성남, 성남 수정구, 성남 중원구, 성남 분당구, 군포, 의왕, 경기 경부2권, 안성, 용인, 용인 처인구, 용인 기흥구, 용인 수지구, 수원, 수원 장안구, 수원 권선구, 수원 팔달구, 수원 영통구, 경기 서해안권, 부천, 부천 원미구, 부천 소사구, 부천 오정구, 안산, 안산 상록구, 안산 단원구, 시흥, 광명, 화성, 오산, 평택, 경기 동부1권, 남양주, 구리, 하남, 경기 광주, 경기 동부2권, 이천, 여주, 경기 경의권, 김포, 고양, 고양 덕양구, 고양 일산동구, 고양 일산서구, 파주, 경기 경원권, 포천, 동두천, 양주, 의정부, 인천, 인천 중구, 인천 동구, 인천 미추홀구, ...]
Index: []

[0 rows x 235 columns]

In [20]:
omlast_row = omdf.tail(6)
ojlast_row = ojdf.tail(6)
omlast_row

,전국,수도권,지방,6대광역시,5대광역시,9개 도,8개 도,서울,서울 강북권역,서울 도심권,...,진주,통영,사천,김해,밀양,거제,양산,제주도,제주,서귀포
날짜,,,,,,,,,,,,,,,,,,,,,
2025-09-29,100.355,101.490,99.272,99.051,98.898,99.907,99.450,104.467,103.144,104.746,...,101.700,98.428,99.345,99.042,100.051,97.364,99.352,98.938,99.072,98.472
2025-10-13,100.481,101.746,99.275,99.060,98.901,99.983,99.452,105.033,103.660,105.444,...,101.923,98.272,99.334,99.035,99.958,97.252,99.329,98.876,99.024,98.362
2025-10-20,100.603,101.996,99.276,99.065,98.901,100.064,99.453,105.558,104.089,106.137,...,102.060,98.166,99.280,99.006,99.929,97.157,99.332,98.819,98.979,98.262
2025-10-27,100.673,102.138,99.278,99.068,98.900,100.128,99.461,105.801,104.238,106.428,...,102.279,98.116,99.273,98.990,99.918,97.121,99.309,98.763,98.937,98.154
2025-11-03,100.741,102.269,99.288,99.086,98.908,100.190,99.472,106.002,104.357,106.669,...,102.460,98.076,99.263,98.935,99.880,97.066,99.312,98.708,98.897,98.049
2025-11-10,100.802,102.386,99.296,99.101,98.916,100.244,99.480,106.187,104.478,106.938,...,102.659,98.061,99.262,98.877,99.848,96.992,99.306,98.664,98.863,97.971

In [21]:
omlast_row.to_sql("onem", conn, if_exists="append")
ojlast_row.to_sql("onej", conn, if_exists="append")

6

In [24]:
#전체 교체
# omdf.to_sql("onem", conn, if_exists="replace")
# ojdf.to_sql("onej", conn, if_exists="replace")

## 스프레드시트에 쓰기

In [22]:
import gspread
import pandas as pd
from oauth2client.service_account import ServiceAccountCredentials

scope = [
    'https://spreadsheets.google.com/feeds',
    'https://www.googleapis.com/auth/drive',
]

json_file_name = 'C://Users/sizip/OneDriveData/data/house/weekly-house-db-ac0a43b61ddd.json'
credentials = ServiceAccountCredentials.from_json_keyfile_name(json_file_name, scope)
gc = gspread.authorize(credentials)


spreadsheet_url = 'https://docs.google.com/spreadsheets/d/1cr50NkztlYeTCMkmqkeq16Va-99yT3Hs-Rbl2TGOp1U/edit#gid=0'
#지수
doc = gc.open_by_url(spreadsheet_url)
m_d = doc.worksheet('mae')
j_d = doc.worksheet('jeon')
#basic_city = doc.worksheet('city')
kb_m = doc.worksheet('kbm')
kb_j = doc.worksheet('kbj')
kb_s = doc.worksheet('kbs')
kb_js = doc.worksheet('kbjs')
m_d

In [23]:
num_rows = len(m_d.get_all_values())
num_rows

695

In [24]:
omlast_row = omdf.tail(6)
ojlast_row = ojdf.tail(6)
omlast_row

,전국,수도권,지방,6대광역시,5대광역시,9개 도,8개 도,서울,서울 강북권역,서울 도심권,...,진주,통영,사천,김해,밀양,거제,양산,제주도,제주,서귀포
날짜,,,,,,,,,,,,,,,,,,,,,
2025-09-29,100.355,101.490,99.272,99.051,98.898,99.907,99.450,104.467,103.144,104.746,...,101.700,98.428,99.345,99.042,100.051,97.364,99.352,98.938,99.072,98.472
2025-10-13,100.481,101.746,99.275,99.060,98.901,99.983,99.452,105.033,103.660,105.444,...,101.923,98.272,99.334,99.035,99.958,97.252,99.329,98.876,99.024,98.362
2025-10-20,100.603,101.996,99.276,99.065,98.901,100.064,99.453,105.558,104.089,106.137,...,102.060,98.166,99.280,99.006,99.929,97.157,99.332,98.819,98.979,98.262
2025-10-27,100.673,102.138,99.278,99.068,98.900,100.128,99.461,105.801,104.238,106.428,...,102.279,98.116,99.273,98.990,99.918,97.121,99.309,98.763,98.937,98.154
2025-11-03,100.741,102.269,99.288,99.086,98.908,100.190,99.472,106.002,104.357,106.669,...,102.460,98.076,99.263,98.935,99.880,97.066,99.312,98.708,98.897,98.049
2025-11-10,100.802,102.386,99.296,99.101,98.916,100.244,99.480,106.187,104.478,106.938,...,102.659,98.061,99.262,98.877,99.848,96.992,99.306,98.664,98.863,97.971

In [25]:
omlast_row.index = omlast_row.index.strftime('%Y-%m-%d')
omlast_row = omlast_row.reset_index()
ojlast_row.index = ojlast_row.index.strftime('%Y-%m-%d')
ojlast_row = ojlast_row.reset_index()

In [26]:
ol_row = omlast_row.values.tolist()[0]
ojl_row = ojlast_row.values.tolist()[0]

In [27]:
m_d.insert_row(ol_row, num_rows+1)
j_d.insert_row(ojl_row, num_rows+1)

{'spreadsheetId': '1cr50NkztlYeTCMkmqkeq16Va-99yT3Hs-Rbl2TGOp1U',
 'updates': {'spreadsheetId': '1cr50NkztlYeTCMkmqkeq16Va-99yT3Hs-Rbl2TGOp1U',
  'updatedRange': 'jeon!A696:IB696',
  'updatedRows': 1,
  'updatedColumns': 236,
  'updatedCells': 236}}

In [28]:
#KB
mlast_row = mdf.tail(7)
jlast_row = jdf.tail(7)
mlast_row

,전국,서울,서울 강북권역,서울 강북구,서울 광진구,서울 노원구,서울 도봉구,서울 동대문구,서울 마포구,서울 서대문구,...,창원 의창구,창원 진해구,양산,거제,진주,김해,통영,제주도,제주,지방
날짜,,,,,,,,,,,,,,,,,,,,,
2025-09-22,89.815,99.868,93.574,87.953,109.854,83.569,81.317,92.017,107.754,96.586,...,92.950,96.605,89.214,77.911,103.973,87.591,95.774,0.0,95.467,94.292
2025-09-29,89.892,100.302,93.895,87.972,111.400,83.621,81.361,92.216,108.528,96.902,...,92.969,96.600,89.192,77.841,104.016,87.586,95.722,0.0,95.408,94.289
2025-10-13,90.019,100.984,94.480,88.014,113.655,83.730,81.488,92.872,110.357,97.539,...,92.969,96.592,89.181,77.730,104.086,87.534,95.720,0.0,95.364,94.297
2025-10-20,90.153,101.648,95.066,88.111,115.759,83.930,81.557,93.556,111.961,98.097,...,92.979,96.600,89.185,77.576,104.144,87.521,95.570,0.0,95.360,94.302
2025-10-27,90.263,102.150,95.498,88.171,116.939,84.130,81.692,94.284,113.031,98.596,...,92.967,96.590,89.184,77.524,104.378,87.552,95.540,0.0,95.352,94.317
2025-11-03,90.324,102.455,95.735,88.253,117.544,84.230,81.709,94.549,113.628,98.903,...,92.967,96.576,89.206,77.398,104.509,87.561,95.503,0.0,95.344,94.320
2025-11-10,90.385,102.717,95.928,88.329,117.890,84.256,81.712,94.730,114.118,99.175,...,93.264,96.583,89.182,77.312,104.689,87.570,95.460,0.0,95.313,94.331

In [29]:
mlast_row.index = mlast_row.index.strftime('%Y-%m-%d')
mlast_row = mlast_row.reset_index()
jlast_row.index = jlast_row.index.strftime('%Y-%m-%d')
jlast_row = jlast_row.reset_index()

In [30]:
l_row = mlast_row.values.tolist()[0]
jl_row = jlast_row.values.tolist()[0]

In [31]:
kbnum_rows = len(kb_m.get_all_values())
kbnum_rows

878

In [32]:
kb_m.insert_row(l_row, kbnum_rows+1)
kb_j.insert_row(jl_row, kbnum_rows+1)

{'spreadsheetId': '1cr50NkztlYeTCMkmqkeq16Va-99yT3Hs-Rbl2TGOp1U',
 'updates': {'spreadsheetId': '1cr50NkztlYeTCMkmqkeq16Va-99yT3Hs-Rbl2TGOp1U',
  'updatedRange': 'kbj!A879:GH879',
  'updatedRows': 1,
  'updatedColumns': 190,
  'updatedCells': 190}}

## 수급 지수

In [33]:
slast_row = ms_df.tail(6)
sjlast_row = js_df.tail(6)
slast_row

                전국                  서울특별시                  강북14개구          \
NaT          매도자많음  매수자많음  매수우위지수   매도자많음   매수자많음  매수우위지수   매도자많음   매수자많음
날짜
2025-09-29  67.872  8.003  40.131  39.143  23.943  84.800  44.146  21.676
2025-10-13  66.142  9.519  43.377  33.367  28.852  95.486  37.827  25.985
2025-10-20  66.204  8.010  41.806  35.148  20.482  85.335  36.462  21.432
2025-10-27  65.639  6.456  40.816  34.724  13.790  79.065  36.296  14.539
2025-11-03  65.894  6.406  40.512  36.677  11.622  74.944  39.177  12.472
2025-11-10  65.022  6.170  41.148  36.538  11.778  75.241  37.957  12.071

                    강남11개구  ...    경상북도    경상남도                   기타지방         \
NaT         매수우위지수   매도자많음  ...  매수우위지수   매도자많음  매수자많음  매수우위지수   매도자많음  매수자많음
날짜                          ...
2025-09-29  77.531  34.663  ...  32.459  72.518  4.687  32.169  72.367  4.219
2025-10-13  88.158  29.374  ...  33.989  74.574  4.910  30.335  72.041  4.906
2025-10-20  84.970  33.971  ...  38.920  73.687  5.743  32.056  71.224  5.575
2025-10-27  78.243  33.317  ...  38.347  70.840  5.651  34.812  71.420  5.641
2025-11-03  73.295  34.440  ...  42.259  70.393  6.591  36.198  70.837  5.239
2025-11-10  74.114  35.268  ...  38.712  67.901  6.745  38.845  70.923  5.589

                   제주특별자치도
NaT         매수우위지수   매도자많음  매수자많음  매수우위지수
날짜
2025-09-29  31.852  69.687  0.000  30.313
2025-10-13  32.865  62.837  5.135  42.298
2025-10-20  34.351  78.048  4.531  26.483
2025-10-27  34.221  60.539  0.000  39.461
2025-11-03  34.403  67.116  4.279  37.163
2025-11-10  34.667  75.168  0.000  24.832

[6 rows x 72 columns]

In [34]:
slast_row.index = slast_row.index.strftime('%Y-%m-%d')
slast_row = slast_row.reset_index()
sjlast_row.index = sjlast_row.index.strftime('%Y-%m-%d')
sjlast_row = sjlast_row.reset_index()

In [37]:
sl_row = slast_row.values.tolist()[0]
sjl_row = sjlast_row.values.tolist()[0]
sl_row

['2025-09-29',
 67.872,
 8.003,
 40.131,
 39.143,
 23.943,
 84.8,
 44.146,
 21.676,
 77.531,
 34.663,
 25.972,
 91.309,
 78.488,
 2.261,
 23.773,
 79.609,
 2.572,
 22.963,
 82.136,
 1.821,
 19.685,
 81.787,
 1.724,
 19.936,
 74.617,
 1.187,
 26.57,
 90.036,
 1.88,
 11.844,
 71.728,
 2.216,
 30.488,
 61.718,
 8.282,
 46.563,
 71.667,
 5.0,
 33.333,
 60.049,
 12.588,
 52.539,
 67.32,
 9.425,
 42.105,
 68.899,
 9.218,
 40.319,
 71.373,
 2.797,
 31.424,
 81.954,
 0.528,
 18.575,
 58.752,
 10.468,
 51.716,
 83.501,
 0.0,
 16.499,
 70.227,
 2.685,
 32.459,
 72.518,
 4.687,
 32.169,
 72.367,
 4.219,
 31.852,
 69.687,
 0.0,
 30.313]

In [38]:
snum_rows = len(kb_s.get_all_values())
snum_rows

1112

In [39]:
kb_s.insert_row(sl_row, snum_rows+1)
kb_js.insert_row(sjl_row, snum_rows+1)

{'spreadsheetId': '1cr50NkztlYeTCMkmqkeq16Va-99yT3Hs-Rbl2TGOp1U',
 'updates': {'spreadsheetId': '1cr50NkztlYeTCMkmqkeq16Va-99yT3Hs-Rbl2TGOp1U',
  'updatedRange': 'kbjs!A1113:BU1113',
  'updatedRows': 1,
  'updatedColumns': 73,
  'updatedCells': 73}}

## 월간 업데이트